<div>
    <div class="control-group">
        <div class="controls">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                    <span id="chef_select_button_label"></span>&nbsp;<span class="caret"></span>
                </button>
                <ul id="config_managers_list" class="dropdown-menu" role="menu"></ul>
            </div>
        </div>
    </div>
    <div id="chef_continuous_integration_view">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cookbook</th>
                    <th>Rubocop</th>
                    <th>Foodcritic</th>
                    <th>Chef Spec</th>
                    <th>Vagrant</th>
                    <th>OpenStack</th>
                    <th>Amazon</th>
                    <th>Community</th>
                </tr>
            </thead>
            <tr>
                <td>apigee</td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusIdle.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusTerminated.gif"/></td>
                <td><input type="checkbox"/></td>
            <tr>
            <tr>
                <td>att_postgresql</td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusIdle.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusTerminated.gif"/></td>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td>oauth_baseos</td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusIdle.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusRunning.gif"/></td>
                <td><img src="/images/statusTerminated.gif"/></td>
                <td><input type="checkbox"/></td>
            </tr>
        </table>
    </div>
    <div id="continuous_integration_setup_landing_view">
        <div class="jumbotron" style="margin-top:10px;"> 
            <h3>Setup continuous integration with <span id="selected_cm_label"></span> for rapid validation. Visit the Account Management section to get set up!</h3>
        </div>
    </div>
    <div id="default_landing_view">
        <div class="jumbotron" style="margin-top:10px;"> 
            <h3>Select a configuration manager above, or begin by setting up a configuration manager in the Account Management section!</h3>
        </div>
    </div>
</div>