/* --- global --- */
.management_page{
   padding-left:10px;
}

/* --- cloud accounts --- */
#cloud_accounts {
    padding-left: 10px
}
#account_management_menu{
    float:left;
    width:150px;
    padding: 10px;
}
.service_url_input{
    width:300px;
}
select.service_types{
  width: 70px;
}
div.button_row{
  padding-left: 20px;
}

/* --- cloud credentials --- */
#cloud_accounts_select{
  width:95px;
}
#credential_list{
  min-height: 200px;
}

div.fieldSet{
  border: solid black thin;
  width: 500px;
  background-color: #cccccc;
}
fieldset{
  border: none;
  margin: 0 0 0 -10px;
  padding-left: 20px;
}
legend{
  font-size: 20px;
  font-weight: bold;
  float: left;
}
label.field{
  text-align: right;
  width: 150px;
  float: left;
  font-weight: bold;
  padding-right: 5px;
}
input.textbox-300{
  width: 300px;
  float: left;
}
fieldset p{
  clear: both;
  padding: 15px;
}