/* --- alerts --- */
/* The following styles are for "growl" style notifications (side pop ups that fade away). */
#purr-container {
  position: fixed;
  top: 5px;
  right: 5px;
}
.message {
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.05)), color-stop(0.75, rgba(255, 255, 255, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 75%, transparent 75%, transparent);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  width: 350px;
  border: 1px solid;
  color: #fff;
  padding: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  animation: animate-bg 5s linear infinite;
  -webkit-animation: animate-bg 5s linear infinite;
  -moz-animation: animate-bg 5s linear infinite;
}
.info {
  background-color: #4ea5cd;
  border-color: #3b8eb5;
}
.error {
  background-color: #de4343;
  border-color: #c43d3d;
}
.warning {
  background-color: #eaaf51;
  border-color: #d99a36;
}
.success {
  background-color: #61b832;
  border-color: #55a12c;
}
.message h3 {
  margin: 0 0 5px 0;
}
.message p {
  margin: 0;
}
@keyframes animate-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -80px 0;
  }
}
