.cloud-button {
    border: 1px solid #ccc;
}

.cloud-button img {
    width:64px;
    height:64px;
}

#advancedSettingsCollapse {
    padding: 10px;
}

#uploadSettingsCollapse {
    padding: 10px;
}
