/* ==========================================================================
   Project App CSS
   ========================================================================== */
#tabs {
  height: 500px;
  display: inline-block;
  position: relative;
}
#tabs ul li a {
  color: black;
}
#design_editor {
  height: 90%;
  width: 90%;
}
.root_folder {
  font-weight: bold;
  font-size: 1em;
}
.info {
  height: 30px;
  width: 30px;
}
