/* ==========================================================================
   Resource App CSS
   ========================================================================== */
   
#resource_summary {
    margin-bottom:5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: normal;
    cursor:pointer;
}

#resource_summary_icon {
    background-image: url(/images/jqueryUI/ui-icons_ffffff_256x240.png);
}
   
#services_table {
    float:right;
    border-style:solid;
    border-radius:5px;
    border-width:1px;
    border-color:#AAAAAA;
    list-style-type:none;
    background: -webkit-linear-gradient(top, #F2F2F2, #FFFFFF);
    width:74%;
    height:62px;
    margin-bottom:10px;
}

#services_table tr td {
    border-left:solid 10px transparent;
}

#services_table a {
    text-decoration:none;
}

#cloud_coverflow {
    float:left;
    width:25%;
    height:90px;
    padding-bottom:10px;
}

#cloud_coverflow img{
    width:100%;
    height:100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 5px 5px #777;
    -webkit-box-shadow: 0px 5px 5px #777;
    box-shadow: 0px 5px 5px #777;
}

#container .selectedItem {
    -moz-box-shadow: 0 4px 10px #0071BC;
    -webkit-box-shadow: 0 4px 10px #0071BC;
    box-shadow: 0 4px 10px #0071BC;
    border:1px solid #0071BC;
}
#cloud_coverflow .item {
    width:160px;
    height:160px;
    left:0px;
}

#cloud_specs {
    float:right;
    text-align:left;
    width:74%;
    padding-bottom:5px;
}

#cloud_specs > span {
    margin-right:20px;
}

.cloud_spec_select {
    width:200px;
}

.ui-menu {
    z-index: 1000;
}

.button_bar {
    display: inline-block;
}

.dataTables_wrapper {
    padding-bottom: 20px;
}

#resource_app {
    float:left;
}

#subservice_menu_title {
    text-align:center;
}

#menu_toggle_button {
    border-right:solid;
    border-width:1px;
    border-color:#cdc3b7;
    width:17px;
    float:left;
    margin-right:3px;
}

.resource_app_heightify {
}

#service_menu {
    float:left;
    margin-top:10px;
}

#subservice_menu ul {
    margin:0px;
    padding:0px;
}

#menu_title {
    text-align:center;
}

#action_menu {
    padding:0px;
}

.monitor_options {
    margin-bottom:10px;
}

#monitor_time_range {
    width:120px;
}

.monitor_graph_container {
    float:left;
    width:423px;
    height:225px;
}

.monitor_caption {
    text-align:center;
    font-weight:bold;
}

.monitor_graph { 
    width:420px;
    height:200px;
}

#filters_table td {
    padding:0px 9px;
}

.alert-field {
    background-color: #D80000;
    color: #FFFFFF;
}

.detail_panel {
    padding-bottom:20px;
}

