/* --- cloud console --- */
.sidebar {
    width: 350px;
}
#new_resources{
   // height: 400px;
}
#hsplitter {
  //height: 1000px;
}
.tree_a a {
  white-space:normal !important;
  height:auto;
}
.jstree-leaf li > ins {
  vertical-align:top;
}
.jstree-last li > ins {
  vertical-align:top;
}
.ui-state-hover a {
  border:0px;
}
