/* --- cloud console --- */
.sidebar_action_button {
  width: 16px;
}
.jstree_custom_item a {
  white-space: normal !important;
  height: auto;
}
.jstree_custom_item li > ins {
  vertical-align: top;
}
.jstree_custom_item li > ins {
  vertical-align: top;
}
div.ui-widget-content {
  border: 0;
}
