<div>
    <div class="control-group">
        <div class="controls">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                    Select Chef&nbsp;<span class="caret"></span>
                </button>
                <ul id="stacks_menu" class="dropdown-menu" role="menu"></ul>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cookbook</th>
                <th>Rubocop</th>
                <th>Foodcritic</th>
                <th>Chef Spec</th>
                <th>Vagrant</th>
                <th>OpenStack</th>
                <th>Amazon</th>
                <th>Community</th>
            </tr>
        </thead>
        <tr>
            <td>apigee</td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusIdle.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusTerminated.gif"/></td>
            <td><input type="checkbox"/></td>
        <tr>
        <tr>
            <td>att_postgresql</td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusIdle.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusTerminated.gif"/></td>
            <td><input type="checkbox"/></td>
        </tr>
        <tr>
            <td>oauth_baseos</td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusIdle.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusRunning.gif"/></td>
            <td><img src="/images/statusTerminated.gif"/></td>
            <td><input type="checkbox"/></td>
        </tr>
    </table>
</div>