<div id="tabs" class="twelvecol">
    <ul>
        <li><a href="#tabs_design">Design</a></li>
        <li><a href="#tabs_runtime">Runtime</a></li>
    </ul>
    <div id="tabs_design">
        <pre id="design_editor">
        </pre> 
    </div>
    <div  id="tabs_runtime">
        <div class="project_tab">
            <ul style="list-style:none;border:solid 1px gray;float:left;width:25%;padding:10px 10px;height:500px">
                <li id="obj1" class="resource">
                    <img src="images/statusRunning.gif"/>
                    <img src="images/IconPNGs/NewServer.png" style="width:20px;height:auto;"/>
                    <span>MyServer</span>
                </li>
                <li  id="obj2" class="resource">
                    <img src="images/statusTerminated.gif"/>
                    <img src="images/IconPNGs/NewDB.png" style="width:20px;height:auto;"/>
                    <span>MyDB</span>
                </li>
            </ul>
            <div style="border:solid 1px gray;float:right;width:65%;padding:10px 10px;height:500px">
                Details
                <br/>
                <span id="name">Name: -</span><br/>
                <span id="id">Id: -</span><br/>
                <span id="resource_type">Type: -</span><br/>
            </div>
        </div>
    </div>
</div>