<div class="layout">
    <div id="hsplitter">
        <div class="accordion new_resources">
            <h3>AWS Resources</h3>
            <div id="aws_resources">
            </div>
            
            <h3>Configurations</h3>
            <div>
                <div id="chef">
                    <a href="#" class="config_link">Chef</a>
                </div>
            
                <div id="puppet">
                    <a href="#" class="config_link">Puppet</a>
                </div>
                
                <div id="cfn-init">
                    <a href="#" class="config_link">Cfn-Init</a>
                </div>
            </div>
        </div>
        <div id="resource_list" class="new_resources_list">
        </div>        
    </div>
</div>