<div>
  	<div id="project_button_bar">
  		<button id="project_back">Done</button>
  		<button id="project_edit">Edit</button>
  		<button id="project_delete">Delete</button>
	</div>
	<div class="intro">
	  	<div id="project_main">
	  	</div>  
	</div>
</div>

<!-- Project specific ich templates -->
<script type="text/html" id="project_item">
    <div>
       <a href="/#projects/{{ id }}" id="{{ id }}" class="projlink" name="{{ name }}">{{ name }}</a>
    </div>
</script>
<script type="text/html" id="project_details">
    <h3>{{ name }}</h3>
        <ul>
            <li>
                <strong>Description:</strong>
            </li>
            <ul>
                <li>{{ description }}</li>
            </ul>
            <li>
                <strong>Members:</strong>
            </li>
            <ul>
                {{#members}}
                <li>{{ name }}</li>
                {{/members}}
            </ul>
            <li>
                <strong>Versions:</strong>
            </li>
            <ul>
                {{#versions}}
                <li>{{ number }}</li>
                {{/versions}}
            </ul>
        </ul>
</script>

<script type="text/html" id="resource_item">
    <div>
       <a href="#" id="{{ id }}" class="resource_link">{{ type }}</a>
    </div>
</script>

<script type="text/html" id="new_project_window">
        <div class="dialog_panel">
            <ul class="horizlist">
                <li>
                    <a href="#" class="hover_panel">
                        <h3>Wordpress</h3>
            
                        <p>Use our wordpress sample to start</p>
                    </a>   
                </li>
            </ul>
        </div>
</script>