<div class="layout sidebar">
    <div id="resources_list">
        <div id="tree_button_bar">
            <button id="open_all">Open All</button>
            <button id="collapse_all">Collapse All</button>
        </div>
        <div class="accordion">
            <h3>New Resources</h3>
            <div>
                <div id="template_resources">
                </div>    
            </div>
            <h3>Outline</h3>
            <div>
                <div id="current_resources">
                </div>
            </div>
            <h3>Templates</h3>
            <div>
                <div id="templates_list"></div>
            </div>
        </div>
    </div>       
</div>