<div>
    <div id="account_login">
        <h3 id="login_message"></h3>
    <div class="accordion">
        <h3>Basic</h3>
        <div>
            <table>
                <tr>
                    <td>Username:</td>
                    <td>
                        <input id="username" type="text" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input id="password" type="password" style="width:200px;"/>
                    </td>
                </tr>
            </table>
        </div>
        <h3>OAuth</h3>
        <div>
            <div>Coming Soon!</div>
        </div>
    </div>
</div>
</div>