<div>
	<table>
		<tbody>
			<tr>
				<td>Name:</td>
				<td>
					<input id="cloud_account_name_input" type="text" style="width:200px"/>
				</td>
			</tr>
            <tr>
                <td>Organization:</td>
                <td>
                    <div id="org_html"></div>
                </td>
            </tr>
            <tr>
                <td>Cloud:</td>
                <td>
                    <select id="cloud_select" style="width:200px;">
                        <option>OpenStack</option>
                    </select>
                </td>
            </tr>
            <tr id="auth_url_row" hidden >
                <td>Auth URL:</td>
                <td>
                    <input id="auth_url_input" type="text" style="width:200px;"/>
                </td>
            </tr>
		</tbody>
	</table>
</div>