<div>
    <table>
        <tbody>
            <tr>
                <td><b>Provider Type:</b></td>
                <td>
                    <select id="provider_select" style="width:200px;">
                        <option value="aws" selected>Amazon Web Services</option>
                        <option value="openstack" selected>Openstack</option>
                    </select> 
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div id="credential_create_form"></div>
</div>