<div class="management_page credential_list_page">
	<div>
		<div class="button_bar">
            <h3>Manage Cloud Credentials</h3>
			<button id="create_group_button" class="btn btn-primary">Create Credentials</button>
	        <button id="delete_group_button" class="btn btn-danger">Delete Credentials</button>
    	</div>
		<table id="group_users_table">
			<thead>
				<tr>
					<th>Name</th>
                    <th>Cloud Provider</th>
				</tr>
			</thead>
		</table>
	<div>
</div>
