<div>
    <table>
        <tbody>
            <tr>
                <td>Name:</td>
                <td>
                    <input id="ci_name_input" type="text" style="width:200px"/>
                </td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>
                    <select id="ci_type_select">
                        <option value="jenkins">Jenkins</option>
                        <option value="other">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>URL:</td>
                <td>
                    <input id="ci_url_input" type="text" style="width:300px"/>
                </td>
            </tr>
        </tbody>
    </table>
    The following fields are only required if the CI server has authentication.
    <hr>
    <table>
        <tbody>
            <tr>
                <td>Username:</td>
                <td>
                    <input id="ci_username_input" type="text" style="width:200px"/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input id="ci_password_input" type="password" style="width:200px"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>