<div class="row">
    <div id="non_group_users_menu" class="col-lg-5">
        <div class="selectable_list" style="height:300px;">
            <h4><center>Non Group Users</center></h4>
            <ul id="non_group_users_menu_list" style="padding:5px;max-height:240px;overflow:auto">
            </ul>
        </div>
    </div>
    <div class="col-lg-2">
        <table style="margin-top:110px;margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <td>
                        <button id="add_user_button"><span class="ui-icon ui-icon-circle-arrow-e"></span></button>
                    </td>
                </tr>
                <tr>
                    <td>
                      <button id="remove_user_button"><span class="ui-icon ui-icon-circle-arrow-w"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="group_users_menu" class="col-lg-5">
        <div class="selectable_list " style="height:300px;">
            <h4><center>Group Users</center></h4>
            <ul id="group_users_menu_list" style="padding:5px;max-height:240px;overflow:auto">
            </ul>
        </div>
    </div>
</div>
