<div class="management_page">
	<div class="tencol" style="margin-left:5px;">
		<div id="group_button_bar" style="margin-bottom:5px;">
            <span><b>Group:</b> <div id="selected_group_name"></div></span>
			<button id="create_group_button">Create Group</button>
	        <button id="manage_group_users_button">Manage Group Users</button>
	        <button id="delete_group_button">Delete Group</button>
    	</div>
		<table id="group_users_table">
			<thead>
				<tr>
					<th>Login</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
		</table>
	<div>
</div>