<div class="management_page col-lg-10" style="margin:10px;">
	<form id="user_form" class="col-lg-12">
		<fieldset>

			<!-- Form Name -->
			<legend class="panel" style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;border-radius: 5px 5px 0px 0px;">&nbsp;Welcome:&nbsp;<b id="username_label"></b></legend>
			<div id="home_container" class="panel-body well">
                <div class="input-group">
                    <span class="input-group-addon">First Name</span>
                    <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Last Name</span>
                    <input id="last_name" type="text" placeholder="Last Name" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Email Address*</span>
                    <input id="email" type="text" placeholder="E-mail" class="form-control">
                </div>
				<div class="input-group">
	               <span class="input-group-addon">RSS Feed URL</span>
                   <input id="rss_url" name="rss_url" type="text" class="form-control" placeholder="http://www.transcendcomputing.com">
				</div>
                <div class="input-group">
                    <span class="input-group-addon">New Password</span>
                    <input id="password_input" type="password" placeholder="Password" class="password form-control">
                </div>
				
				<div class="input-group">
					<span class="input-group-addon">Confirm New Password</span>
					<input id="confirm_password_input" type="password" placeholder="Confirm Password" class="password form-control">
				</div>


                <br/>
                <a id="updateUserB" style="float:right;" class="btn btn-primary">Update</a>
            </div>
        </fieldset>
        <fieldset>
            <div class="password-restrictions">
                <div class="alert alert-info password-restrictions-info"><strong>Restrictions</strong> Passwords must comply to these restrictions.</div>
        		
                <ul id="password_restrictions" class="list-group">
                    <li style="display:none;" id="must_contain_digit" class="list-group-item">Password must have at least one digit</li>
                    <li style="display:none;" id="must_contain_special_character" class="list-group-item">Password must have at least one special character</li>
                    <li style="display:none;" id="min_character_length" class="list-group-item">Password must be at least <span id="min_chars"></span> characters</li>
                </ul>
            </div>
            <div class="no-password-restrictions" style="display:none;">
                <div class="alert alert-info"><strong>Restrictions</strong> No password restrictions.</div>
            </div>
        </fieldset>
    </form>
</div>