
<div class="management_page">
    <div class="row" style="padding:10px 10px;"><button id="new_cloud_account">New Cloud Account</button></div>
    <div id="detail_tabs">
        <ul>
            <li><a id="services_tab" href="#services_page">Cloud Account</a></li>
            <!--
            <li><a id="mappings_tab" href="#mappings_page">Mappings</a></li>
            <li><a id="prices_tab" href="#prices_page">Prices</a></li>
            -->
        </ul>
        <div class="row" style="padding:10px 15px;">
            <button id="delete_cloud_account">Delete</button>
            <button id="new_cloud_service">Add Service</button>
        </div>
        <div id="services_page">
        </div>
        <!--
        <div id="mappings_page" class="tab">
        </div>
        <div id="prices_page" class="tab">
        </div>
        -->
    </div>
</div>

<script type="text/html" id="cloud_service">
    <form id="cloud_services_form" action="" method="">
        <fieldset>
            <legend>Service Endpoints</legend>
            {{#cloud_services}}
            <p>
                <label class="tabbed-field">{{cloud_service.service_type}} Endpoint URL:</label>
                <input data-id="{{cloud_service.id}}" type="text" data-name="{{cloud_service.service_type}}" class="textbox-300" value="{{cloud_service.protocol}}://{{cloud_service.host}}:{{cloud_service.port}}{{cloud_service.path}}"></input>
                <button class="delete-button">Delete</button>
                <button class="save-button">Save</button>
            </p>
            {{/cloud_services}}
            {{^cloud_services}}
            <p><label>No cloud services defined for {{name}}.</label></p>
            {{/cloud_services}}
        </fieldset>
    </form>
</script>