<div class="twelvecol row" style="margin: 0px">
    <div id="management_tree" class="threecol">
        <div id="account_management_menu">        
            <div id="mCloudAccount_tree" style="border-bottom-style:none; width:150%;"><ul><li id="c_account_list" class="account_list"><a>Cloud Accounts</a></li></ul></div>
            <div id="mCloudCredential_tree" style="border-bottom-style:none;border-top-style:none; width:150%;"><ul><li id="cred_list" class="account_list"><a>Cloud Credentials</a></li></ul></div>
            <div id="mGroup_tree" style="border-bottom-style:none;border-top-style:none; width:150%;"><ul><li id="group_list" class="account_list"><a>Groups</a></li></ul></div>
            <div id="mUser_tree" style="border-top-style:none; width:150%;"><ul><li id="user_list" class="account_list"><a href="#account/management/users">Users</a></li></ul></div>
        </div>
    </div>
    <div id="submanagement_app" class="ninecol"></div>
</div>