<div class="management_page">
    <div id="detail_tabs">
        <div id="my_credentials_page" >
            <div class="col" style="padding-left:16px;">
                <div class="row">
                    <h3>Manage Cloud Credential</h3>
                    <label>Cloud Account:</label>
                    <select name="cloud_accounts_select" id="cloud_accounts_select" class="threecol">
                        <option value="All">All</option>
                    </select>
                    <button id="new_credential" title="Select Cloud Account to create new credentials.">New</button>
                </div>
                <div class="row">
                    <!--<ul id="credential_list" class="selectable_list threecol"></ul>-->
                    <div class="ninecol">
                        <div>
                        <p>In order to create a new set of cloud credentials, first select a cloud account for the credentials to be associated with.  Then, click 'New' to fill out your credentials.</p>
                        </div>
                        <div id="form_area"/>
                    </div>
                </div>
                <div class="button_bar row">
                    <div class="fourcol">
                    </div>
                    <div class="fourcol">
                        <div class="row">
                        </div>
                    </div>
                    <div class="fourcol">
                        <div class="row">
                            <button id="save_credential">Save</button>
                            <div class="onecol wait_indicator"></div>
                            <button id="delete_credential">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="aws_credential_form">
    <form>
        <fieldset>
            <legend>AWS Credential Form</legend>
            <p><label class="small-tabbed-field" for="Name">Name:</label><input id="name" type="text" name="Name" class="textbox-300 required" value="{{name}}"/></p>
            <p><label class="small-tabbed-field" for="Description">Description:</label><textarea class="description" id="description" cols="40" rows="3" name="Description">{{description}}</textarea></p>
            <p><label class="small-tabbed-field" for="AccessKey">Access Key ID:</label><input id="access_key" type="text" name="AccessKey" class="textbox-300 required" value="{{access_key}}" /></p>
            <p><label class="small-tabbed-field" for="SecretKey">Secret Access Key:</label><input id="secret_key" type="password" name="SecretKey" class="textbox-300 required" value="{{secret_key}}" /></p>
        </fieldset>
    </form>
</script>

<script type="text/html" id="openstack_credential_form">
    <form>
        <fieldset>
            <legend>Openstack Credential Form</legend>
            <p><label class="small-tabbed-field" for="Name">Name:</label><input id="name" type="text" name="Name" class="textbox-300" value="{{name}}" class="required"/></p>
            <p><label class="small-tabbed-field" for="Description">Description:</label><textarea id="description" class="description" cols="40" rows="3" name="Description">{{description}}</textarea></p>
            <p><label class="small-tabbed-field" for="Username">Username:</label><input id="username" type="text" name="Username" class="textbox-300" value="{{cloud_attributes.openstack_username}}" class="required"/></p>
            <p><label class="small-tabbed-field" for="Password">Password:</label><input id="api_key" type="password" name="Password" class="textbox-300" value="{{cloud_attributes.openstack_api_key}}"></input></p>
            <p><label class="small-tabbed-field" for="AccessKey">Access Key:</label><input id="access_key" type="text" name="AccessKey" class="textbox-300" value="{{access_key}}"></input></p>
            <p><label class="small-tabbed-field" for="SecretKey">Secret Key:</label><input id="secret_key" type="password" name="SecretKey" class="textbox-300" value="{{secret_key}}"></input></p>
            <p><label class="small-tabbed-field" for="TenantName">Tenant Name:</label><input id="tenant" type="text" name="TenantName" class="textbox-300" value="{{cloud_attributes.openstack_tenant}}" class="required"/></p>
            <p><label class="small-tabbed-field" for="AuthUrl">Auth URL:</label><input id="auth_url" type="text" name="AuthUrl" class="textbox-300" value="{{cloud_attributes.openstack_auth_url}}" class="required"></p>
        </fieldset>
    </form>
</script>