<div class="devops_tools_page">
    <div id="detail_tabs">
        <div class="row">
            <h3>Configuration Managers</h3>
        </div>
        <div class="row button_bar">
            <button id="new_config_manager" class="btn">Add Manager</button>
        </div>
        <div id="config_managers_page">
        </div>
    </div>
</div>

<script type="text/html" id="config_manager_template">
    <div class="manager_list">
        <fieldset>
            <legend>{{{icon}}} {{managerType}} Endpoints</legend>
            {{#managers}}
            <p>
                <label class="tabbed-field">{{name}}:</label>
                <input data-id="{{_id}}" type="text" data-name="{{type}}" class="textbox-400" value="{{url}}"></input>
                <button class="delete_manager_button">Delete</button>
                <button class="edit_manager_button">Edit</button> 
            </p>
            {{/managers}}
            {{^managers}}
            <p><label>No endpoints defined.</label></p>
            {{/managers}}
        </fieldset>
    </div>
</script>
