<div class="management_page" style="margin:10px;">
	<div style="margin-left:5px;">
		<div id="group_button_bar" style="margin-bottom:5px;">
            <h3>Manage Cloud Accounts</h3>
			<button id="create_group_button">Create Cloud Account</button>
	        <button id="delete_group_button">Delete Cloud Account</button>
    	</div>
		<table id="group_users_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Cloud Provider</th>
                    <th>ID</th>
				</tr>
			</thead>
		</table>
	<div>
</div>