<div id="new_cloud_account">
    <form id="cloud_account_form" action="" method="">
        <fieldset>
            <legend>New Cloud Account</legend>
            <p><label class="field">Target Cloud:</label><select id="cloud_select"class="select-200"></select></p>
            <p><label class="field">Name:</label><input id="name" type="text" name="Name" class="textbox-200"></input></p></p>
            <div class="row">
                <button id="save_button">Save</button>
                <button id="cancel_button">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>