<div>
    <table id="new_user_form">
        <tbody>
            <tr>
                <td><b>First Name:</b></td>
                <td><input id="first_name" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Last Name:</b></td>
                <td><input id="last_name" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Username*:</b></td>
                <td><input id="new_username" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Email Address*:</b></td>
                <td><input id="email_address" type="text" style="width:300px;"/></td>
            </tr>
            <tr>
                <td><b>Country*:</b></td>
                <td><select id="country_select" style="width:200px;"></select></td>
            </tr>
            <tr id="changeable_content">
                <td><b>Company:</b></td>
                <td><input id="company" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Password*:</b></td>
                <td><input id="new_password" type="password" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Confirm Password*:</b></td>
                <td><input id="confirm_password" type="password" style="width:200px;"/></td>
            </tr>
        </tbody>
    </table>
    <br />
    <div id="terms">
        <center><input id="terms_checkbox" type="checkbox"/><b>I agree to the Transcend </b><a href="http://www.transcendcomputing.com/terms-of-service/" target="_blank"><b>Terms of Service</b></a></center>
    </div>
</div>