
<p>
    <!-- Select Basic -->
    <div id="cred_OS" class="credentialsOS">
        <label class="control-label">Default Credentials:</label>
        <div class="controls">
            <select id="default_credentials_os" name="default_credentials" class="input-xlarge default_credentials">
                <option>Select Credentials</option>
            </select>
            <div id="cred_message_os">Create an OpenStack credential before creating a policy.</div>
        </div>
    </div>
    <div id="whole_form_os" hidden>
        <!-- Form Name -->
        <form class="form-horizontal">
            <fieldset>
                <legend style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;border-radius: 5px 5px 0px 0px;">&nbsp;OpenStack Governance Policy</legend>
                <div class="well">
        
                   <hr>
                    <!-- Cloud enabling checkbox -->
                    <div class="control-group">
                        <label class="control-label">Enabled Cloud:</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input id="enabled_cloud_os"type="checkbox" name="enabled_cloud" class="enabled-cloud" value="OpenStack">OpenStack
                            </label>
                        </div>
                    </div>      
                    <hr>   
                    <!-- Multiple Checkboxes (inline) -->
                    <div class="control-group OS">
                        <label class="control-label">Usable Regions:</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="usable_regions" value="US East (Northern Virginia)" class="OS">
                                US East (Northern Virginia)
                            </label>
                            
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="control-group OS">
                        <label class="control-label">Default Region:</label>
                        <div class="controls">
                            <select id="default_region_os" name="default_region" class="input-xlarge OS">
                                <option value="us-east-1">US East (Northern Virginia)</option>
                            </select>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <!-- Multiple Checkboxes (inline) -->
                    <div class="control-group OS">
                        <label class="control-label">Enabled Services:</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Block Storage" class="OS">
                                    Block Storage
                                </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Compute Service" class="OS">
                                    Compute Service
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Identity" class="OS">
                                    Identity
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Network Service" class="OS">
                                    Network Service
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Object Storage" class="OS">
                                    Object Storage
                            </label>
                        </div>
                    </div>
                    <!-- TopStack Enabled services -->
                    <div class="top-stack-services OS" > 
                        <label class="top-stack-services-label">Enabled TopStack Services:</label>
                            <div class="controls">
                                <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Admin Console" class="OS">
                                    Admin Console
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Auto Scale" class="OS">
                                    Auto Scale
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="DNS 53" class="OS">
                                    DNS 53
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Elastic Cache" class="OS">
                                    Elastic Cache
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Monitor Service" class="OS">
                                    Monitor Service
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Relational Database" class="OS">
                                    Relational Database
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Scalable Load Balancer" class="OS">
                                    Scalable Load Balancer
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="enabled_services" value="Scalable Queue" class="OS">
                                    Scalable Queue
                            </label>
                            </div>
                    </div>

                    <hr>
                </div>
            </fieldset>
        </form>
        
        <form id="instance_policies" class="form-horizontal OS">
            <fieldset>

                <!-- Form Name -->
                <legend style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;border-radius: 5px 5px 0px 0px;">&nbsp;Instance Policies</legend>
                    <div class="well">
                        <div class="well" style="margin-top:40px;">
                            <legend>Available Images</legend>
                            <div class="row">
                                <label class="checkbox"><input type="checkbox" name="use_approved_images_os" value="use_approved_images" class="OS"/>
                                    Constrain images to the following:
                                </label>
                            </div>
                            <div class="row" style="margin:0px;display:none">
                                <div class="span3"><b>Selected Image:</b><div class="image os" id="add_image_os"></div></div>
                                <div class="span7"><b>Source:</b><div class="sources os" id="add_image_source_os"></div></div>
                                <div class="span2"><a id="add_image_btn_os" class="btn btn-primary" style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;margin-bottom:8px;"><i class="icon-plus-sign icon-white"></i>&nbsp;Add</a>
                                </div>
                            </div>
                            <div class="row">
                                <table id="default_images_table_os" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Image Name</th>
                                            <th>Image ID</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <p class="help-block">*Choose images to add from the table below.</p>
                        
                            <div class="row">
                                <div class="span12">
                                    <table id="images_table_os" cellpadding="0" cellspacing="0" border="0" class="images-list table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Image Name</th>
                                                <th>Image ID</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max On-Demand Instances:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_on_demand_os" name="max_on_demand" class="span5 OS form-control" type="text" placeholder="# Instances">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_on_demand_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>
        
        
                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max # in Auto Scale Group:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_in_autoscale_os" name="max_in_autoscale" class="span5 OS form-control" type="text" placeholder="# Instances">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_in_autoscale_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max Elastic IPs:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_ips_os" name="max_ips" class="span5 OS form-control" type="text" placeholder="# IPs">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_ips_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max Load Balancers:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_load_balancers_os" name="max_load_balancers" class="span5 OS form-control" type="text" placeholder="# Balancers">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_load_balancers_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max Security Groups:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_security_groups_os" name="max_security_groups" class="span5 OS form-control" type="text" placeholder="# Groups">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_security_groups_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max Security Group Rules:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_security_group_rules_os" name="max_security_group_rules" class="span5 OS form-control" type="text" placeholder="# Rules">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_security_group_rules_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Max Volumes:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_volumes_os" name="max_volumes" class="span5 OS form-control" type="text" placeholder="# Volumes">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_volumes_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Appended checkbox -->
                        <div class="control-group">
                            <label class="control-label">Total GB of Volumes:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_volumes_size_os" name="max_volumes_size" class="span5 OS form-control" type="text" placeholder="# of GB">
                                    <span class="add-on">
                                        <input type="checkbox" id="check_max_volumes_size_os" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Appended checkbox -->
                        <div class="control-group" style="display:none;">
                            <label class="control-label">Max Cores:</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="max_cores_os" name="max_cores" class="span5 OS" type="text" placeholder="# Cores">
                                    <span class="add-on">
                                        <input type="checkbox" class="OS"> Unlimited</input>
                                    </span>
                                </div>
                            </div>
                        </div>
                    
                        <hr>
        
                        <!-- Multiple Checkboxes -->
                        <div class="control-group" style="display:none;">
                            <label class="control-label">Instance Lifetime:</label>
                            <div class="controls">
                                <label class="checkbox">
                                <input type="checkbox" name="require_lifetime" value="Require an expected lifetime when an instance is launched" class="OS">
                                    Require an expected lifetime when an instance is launched
                                </label>
                            </div>
                        </div>

                        <!-- Multiple Radios -->
                        <div class="control-group" style="display:none;">
                            <label class="control-label">When lifetime is up:</label>
                            <div class="controls">
                                <label class="radio">
                                <input type="radio" name="post_lifetime" value="Terminate Instance" class="OS" checked="checked">
                                        Terminate Instance
                                </label>
                                <label class="radio">
                                    <input type="radio" name="post_lifetime" value="Notify user of expiration" class="OS">
                                        Notify user of expiration
                                </label>
                                <label class="radio">
                                    <input type="radio" name="post_lifetime" value="Leave disposition up to user" class="OS">
                                        Leave disposition up to user
                                </label>
                            </div>
                        </div>
                    </div>
            </fieldset>
        </form>
        
        <form class="form-horizontal OS">
            <fieldset>

                <!-- Form Name -->
                <legend style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;border-radius: 5px 5px 0px 0px;">&nbsp;Service Policies</legend>
                <div class="well">
                    </div>
        
                    <div class="well">
                        <legend>SNS Notifications</legend>
                        <!-- Multiple Checkboxes -->
                        <div class="control-group" style="display:none;">
                        <label class="control-label">SNS Notifications:</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox" name="sns_notifications" value="All users are automatically setup as SNS users" class="OS">
                                All users are automatically setup as SNS users
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="sns_notifications" value="Users are email notified when an instance is started" class="OS">
                                Users are email notified when an instance is started
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="sns_notifications" value="Users are email notified when a CloudFormation has 'completed' or 'failed'" class="OS">
                                Users are email notified when a CloudFormation has 'completed' or 'failed'
                            </label>
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label">Default Informational:</label>
                        <div class="controls">
                            <select id="default_informational_os" style="width:365px;" name="default_informational" class="input-xlarge topic_select">
                                <option>Select Default Informational</option>
                            </select>
                            <a class="btn create_topic_btn">Create Topic</a>
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label">Default Warning:</label>
                        <div class="controls">
                            <select id="default_warning_os" style="width:365px;" name="default_warning" class="input-xlarge topic_select">
                                <option>Select Default Warning</option>
                            </select>
                            <a class="btn create_topic_btn">Create Topic</a>
                        </div>
                    </div>
                    
                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label">Default Error:</label>
                        <div class="controls">
                            <select id="default_error_os" style="width:365px;" name="default_error" class="input-xlarge topic_select">
                                <option>Select Default Error</option>
                            </select>
                            <a class="btn create_topic_btn">Create Topic</a>
                        </div>
                    </div>
                    </div>
                    
                    <div class="well">
                        <legend>RDS</legend>
                        <!-- Appended checkbox -->
                        <div class="control-group">
                        <label class="control-label">Max # of RDS Databases:</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="max_rds_os" name="max_rds" class="span3 OS form-control" type="text" placeholder="# DB's">
                                <span class="add-on">
                                    <input type="checkbox" id="check_rds_os" class="OS"> Unlimited</input>
                                </span>
                            </div>
                            <p class="help-block">*Read replica counts as additional database.</p>
                        </div>
                    </div>
                    </div>
                    
                    <div class="well">
                        <legend>Miscellaneous</legend>
                        
                        <!-- Multiple Checkboxes -->
                        <div class="control-group">
                          <label class="control-label">Auto Tags:</label>
                          <div class="controls">
                            <label class="checkbox">
                              <input id="project_name_toggle_os" type="checkbox" name="auto_tags" value="ProjectName" class="OS"/>
                              ProjectName:
                              <input id="project_name_os" style="margin-left:10px" name="project_name" type="text" placeholder="Project Name" class="input-medium OS form-control"/>
                            </label>
                            
                            <label class="checkbox">
                              <input type="checkbox" name="auto_tags" value="UserName" class="OS">
                              UserName
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="auto_tags" value="GroupName" class="OS">
                              GroupName
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" name="auto_tags" value="Modifiable" class="OS">
                              Modifiable
                            </label>
                          </div>
                        </div>
                       </div>
                    </div>
                </div>
            </fieldset>
        </form>
        
        <form class="form-horizontal OS">
            <fieldset>
                <!-- Form Name -->
                <legend style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;border-radius: 5px 5px 0px 0px;">&nbsp;CloudWatch Alarms</legend>
                <div class="well">
                    <div class="control-group well" style="margin-top: 40px;">
                        <legend>Add Default Alarms</legend>
                        <a id="create_alarm_btn_os" class="btn btn-primary" style="background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;margin-bottom:8px;"><i class="icon-plus-sign icon-white"></i>&nbsp;Add</a>
                        <table class="table">  
                                <thead>  
                                  <tr>  
                                    <th>Metric</th>
                                    <th>Alarm</th>  
                                    <th>Threshold</th>
                                    <th>Duration</th>
                                    <!-- <th>Remove<th> -->  
                                  </tr>  
                                </thead>  
                                <tbody id="alarm_table_os">  
                                </tbody>  
                        </table>  
                    </div>
                </div>
            </fieldset>
        </form>
        
        <a id="save_button" class="btn" style="float:right;margin-bottom:1cm;background:#4a2e83 url(/images/jqueryUI/ui-bg_highlight-soft_65_4A2E83_1x100.png) 50% 50% repeat-x;color: #ffffff;">Save Policy <i class="icon-file icon-white"></i></a>
        <div id="save_alert" class="alert" style="width:90px;display:none;">
            Policy <strong>Saved...</strong>
        </div>
    </div>
</p>