<div class="management_page" style="margin:10px;">
	<div style="margin-left:5px;">
		<div id="group_button_bar" style="margin-bottom:5px;">
            <h3>Manage Policy Rules: <b><span id="selected_group_name"></span></b>
            <br/><br/>
	        <button id="manage_group_users_button">Manage Group Users</button>
    	</div>
		<table id="group_users_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Users/Groups</th>
					<th>Cloud Resource</th>
                    <th>Rule</th>
				</tr>
			</thead>
		</table>
	<div>
</div>