<div id="source_control_repo_add_edit">
    <table>
        <tbody>
            <tr>
                <td>Name:</td>
                <td>
                    <input id="source_control_repo_name" name="name" type="text" style="width:200px"/>
                </td>
            </tr>
            <tr>
                <td>Type:</td>
                <td>
                    <select id="source_control_repo_type" name="type">
                        <option value="git">Git</option>
                        <option value="other">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>URL:</td>
                <td>
                    <input id="source_control_repo_url" name="url" type="text" style="width:300px"/>
                </td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>
                    <input id="source_control_repo_username" name="username" type="text" style="width:200px"/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input id="source_control_repo_password" name="password" type="password" style="width:200px"/>
                </td>
            </tr>
            <tr>
                <td>Key:</td>
                <td>
                    <textarea id="source_control_repo_key" name="key" type="text" style="width:200px"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>