<div>
    <div id="account_login">
        <h5>
            Please enter your username and password.
        </h5>
        <table style="font-size:14px;line-height:1.2;">
            <tr>
                <td><label class="top_align">Username:</label></td>
                <td>
                    <input id="username" type="text" style="width:200px;"/>
                </td>
            </tr>
            <tr>
                <td><label class="top_align">Password:</label></td>
                <td>
                    <input id="password" type="password" style="width:200px;"/>
                </td>
            </tr>
        </table>
    </div>
</div>