<div class="management_page">
    <div>
    <h3>Manage Users</h3>
	<div class="button_bar">
		<button id="create_user_button" class="btn btn-primary">Create User</button>
		<button id="update_user_button" class="btn btn-primary">Update User</button>
		<button id="delete_user_button" class="btn btn-danger">Delete User</button>
	</div>
	<div>
		<table id="users_table">
			<thead>
				<tr>
					<th>Login</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Role</th>
				</tr>
			</thead>
		</table>
	<div>
    </div>
</div>
