<div>
    <table id="user_update_form">
        <tbody>
            <tr>
                <td><b>First Name:</b></td>
                <td><input id="first_name" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Last Name:</b></td>
                <td><input id="last_name" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Username*:</b></td>
                <td><input id="login" type="text" style="width:200px;"/></td>
            </tr>
            <tr>
                <td><b>Email Address*:</b></td>
                <td><input id="email" type="text" style="width:300px;"/></td>
            </tr>
            <tr>
                <td><b>Country*:</b></td>
                <td><select id="country_id" style="width:200px;"></select></td>
            </tr>
            <tr>
                <td><b>Admin:</b></td>
                <td><input id='admin_checkbox' type='checkbox'/></td>
            </tr>
            <tr class="password">
                <td><b>New Password*:</b></td>
                <td><input id="new_password" type="password" style="width:200px;"/></td>
            </tr>
            <tr class="password">
                <td><b>Confirm New Password*:</b></td>
                <td><input id="confirm_password" type="password" style="width:200px;"/></td>
            </tr>
        </tbody>
    </table>
    <br />
</div>