<script type="text/html" id="vcloud_credential_form">
<div>
  <table>
    <tbody>
      <tr>
        <td><b>Credential Name:</b></td>
        <td>
          <input id="credential_name" type="text" style="width:200px;" class="required" value="{{credential_name}}" />
        </td>
      </tr>
      <tr>
        <td><b>Description:</b></td>
        <td>
          <textarea id="credential_description" rows="3" style="width:400px;">{{credential_description}}</textarea>
        </td>
      </tr>
      <tr>
        <td><b>Username:</b></td>
        <td>
          <input id="username" type="text" style="width:400px;" class="required" value="{{vcloud_username)}}" />
        </td>
      </tr>
      <tr>
        <td><b>Password:</b></td>
        <td>
          <input id="password" type="text" style="width:400px;" class="required" value="{{cloud_attributes.vcloud_api_key}}" />
        </td>
      </tr>
        <td><b>VCloud Director URL</b></td>
        <td>
          <input id="host" type="text" style="width:400px;" class="required" value="{{cloud_attributes.vcloud_host" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
</script>