<script id="appliance_spec_form" type="text/html">
<form id="appliance_spec_form" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="name_input">Name</label>
        <input type="text" id="name_input" class="form-control" value={{Name}}>
    </div>
    <div class="control-group">
        <label class="control-label" for="appliance_specification_input">Appliance Specification URL</label>
        <div class="controls">
            <input type="text" id="appliance_specification_input" class="form-control" value={{ApplianceSpecURL}}>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="appliance_instance_count_input">Instance Count</label>
        <input type="text" id="appliance_instance_count_input" class="form-control bfh-number" value={{ApplianceInstanceCount}}>
    </div>
    <div class="control-group">
        <label class="control-label" for="capsules_list">Capsules</label>
        <div class="list-group">
            {{#ApplianceSpec.CapsuleSpecURLs}}
            <a href="#" class="list-group-item">
                {{.}}
            </a>
            {{/ApplianceSpec.CapsuleSpecURLs}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="policy_url">Policy URL</label>
        <div class="list-group">
            <a href="#" class="list-group-item">
                {{ApplianceSpec.PolicyURL}}
            </a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="accounting_url">Accounting URL</label>
        <div class="list-group">
            <a href="#" class="list-group-item">
                {{ApplianceSpec.AccountingURL}}
            </a>
        </div>
    </div>
</form>
</script>
