<% if(appliance.id) { %>
<form id="appliance_spec_form" class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="list-group">
            <li class="list-group-item">
                <%= appliance.Name %>
            </li>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Instance Count</label>
        <div class="list-group">
            <li class="list-group-item">
                <%= appliance.ApplianceInstanceCount %>
            </li>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="capsules_list">Capsules</label>
        <div class="list-group">
            <% _.each(appliance.ApplianceSpec.CapsuleSpecURLs, function(url){ %>
            <a href="<%= url %>" class="list-group-item">
                <%= url %>
            </a>
            <% }); %>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="policy_url">Policy URL</label>
        <div class="list-group">
            <a href="<%= appliance.ApplianceSpec.PolicyURL %>" class="list-group-item">
                <%= appliance.ApplianceSpec.PolicyURL %>
            </a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="accounting_url">Accounting URL</label>
        <div class="list-group">
            <a href="<%= appliance.ApplianceSpec.AccountingURL %>" class="list-group-item">
                <%= appliance.ApplianceSpec.AccountingURL %>
            </a>
        </div>
    </div>
</form>
<% }else { %>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="input_name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input_name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="input_instance_count" class="col-sm-2 control-label">Instance Count</label>
    <div class="col-sm-10">
      <input type="number" class="col-xs-1 form-control" id="input_instance_count" placeholder="1">
    </div>
  </div>
  <div class="form-group">
    <label for="input_start_cmd" class="col-sm-2 control-label">Capsules</label>
    <div class="col-sm-10">
        <select class="form-control">
          <option>Capsule1</option>
          <option>Capsule2</option>
          <option>Capsule3</option>
          <option>Capsule4</option>
        </select>
        <button type="button" class="btn btn-default">Add</button>
    </div>
  </div>
  <div class="form-group">
    <label for="input_start_cmd" class="col-sm-2 control-label">Policy URL</label>
    <div class="col-sm-10">
      <input type="url" class="col-xs-5 form-control" id="input_policy_url" placeholder="http://somebucket.Policy.json">
    </div>
  </div>
  <div class="form-group">
    <label for="input_start_cmd" class="col-sm-2 control-label">Accounting URL</label>
    <div class="col-sm-10">
      <input type="url" class="col-xs-5 form-control" id="input_accounting_url" placeholder="http://somebucket/Acct.json">
    </div>
  </div> 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
<% } %>