<% if(grid.id) { %>
<form id="grid_details" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="image_url">Name</label>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <%= grid.StackName %>
            </a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="image_url">Template URL</label>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <%= grid.TemplateURL %>
            </a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="start_command">SSH Key Pair</label>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <%= grid.SSHKeyPair %>
            </a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Node Count</label>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <%= grid.NodeCount %>
            </a>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Instance Type</label>
        <div class="list-group">
            <li class="list-group-item"><%= grid.InstanceType %></li>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Capacity Overview</label>
        <div class="list-group">
            <li class="list-group-item">
                <label class="control-label">CPU: </label>
                <%= grid.CapacityOverview.CPU || "N/A" %>
            </li>
            <li class="list-group-item">
                <label class="control-label">Mem: </label>
                <%= grid.CapacityOverview.Mem || "N/A" %>
            </li>
            <li class="list-group-item">
                <label class="control-label">Disk: </label>
                <%= grid.CapacityOverview.Disk || "N/A" %>
            </li>
        </div>
    </div>
</form>
<% }else { %>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="input_name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input_name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="input_template_url" class="col-sm-2 control-label">Template URL</label>
    <div class="col-sm-10">
      <input type="url" class="col-xs-10 form-control" id="input_template_url" value="http://some.s3bucket.com/CFTemplates/Grid.json" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="input_instance_count" class="col-sm-2 control-label">Instance Count</label>
    <div class="col-sm-10">
      <input type="number" class="col-xs-1 form-control" id="input_instance_count" placeholder="1">
    </div>
  </div>
  <div class="form-group">
    <label for="select_instance_type" class="col-sm-2 control-label">Instance Type</label>
    <div class="col-sm-10">
        <select id="select_instance_type" class="form-control">
          <option>t1.micro</option>
          <option>m1.small</option>
          <option>m3.large</option>
          <option>m3.xlarge</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
<% } %>
