<div>
	<ul id="meshes_tabs" class="nav nav-tabs">
		<li class='active'><a href="#dashboard_tab" data-toggle="tab">Dashboard</a></li>
		<li><a href="#grids_tab" data-toggle="tab">Grids</a></li>
		<li><a href="#appliances_tab" data-toggle="tab">Appliances</a></li>
		<li><a href="#capsules_tab" data-toggle="tab">Capsules</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="dashboard_tab">
			<div id="dashboard_container"></div>
		</div>
		<div class="tab-pane" id="grids_tab">
			<div id="appliances_container"></div>
		</div>
		<div class="tab-pane" id="appliances_tab">
			<div id="appliances_container"></div>
		</div>
		<div class="tab-pane" id="capsules_tab">
			<div id="capsules_container"></div>
		</div>
	</div>
</div>
