<div id="publish_to_topic">
    <div>
        <p>
            The Display Name of topic will be used, if present, in the "From:" field of any email notifications from the topic. It is also required and included in every SMS notification send out.
        </p>
        <table>
            <tr>
                <td>Display Name:</td>
                <td>
                    <input id="topic_display_name_input" type="text" class="large_width"/>
                    <br />
                    <span>Up to 100 printable ASCII characters</span>
                </td>
            </tr>
        </table>
    </div>
</div>