<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Topic</button>
                </td>
                <td>
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Publish to this Topic</a></li>
                                <li><a>Delete Topic</a></li>
                                <li><a>Edit Topic Display Name</a></li>
                                <li><a>View/Edit Topic Policy</a></li>
                                <li><a>View/Edit Topic Delivery Policy</a></li>                
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a id="topic_details" href="#tabs-1">Details</a></li>
            <li><a id="subscription_details" href="#tabs-2">Subscription</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Topic Name:</b></td>                 <td>{{ Name }}</td></tr>
                    <tr><td><b>Topic ID:</b></td>                   <td>{{ id }}</td></tr>
                    <tr><td><b>Owner:</b></td>                      <td>{{ Owner }}</td></tr>
                    <tr><td><b>Subscriptions Pending:</b></td>      <td>{{ SubscriptionsPending }}</td></tr>
                    <tr><td><b>Subscriptions Confirmed:</b></td>    <td>{{ SubscriptionsConfirmed }}</td></tr>
                    <tr><td><b>Subscriptions Deleted:</b></td>      <td>{{ SubscriptionsDeleted }}</td></tr>
                </tbody>
            </table>
        </div>
        <div id="tabs-2" class="tab">
            <div id="subscriptions_tab_content"></div>
        </div>
    </div>
</script>