public/bin-debug/
public/bin-debug/*
public/bin-debug/history/*
public/bin-debug/config/*
public/bin-debug/config/
public/bin/config
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
log
vendor/bundle
.bundle
.actionScriptProperties
.buildpath
build/
dist/
/build.properties
.externalToolBuilders/*
.externalToolBuilders
resources/*.properties
node_modules
/app.yaml
