public/bin-debug/
public/bin-debug/*
public/bin-debug/history/*
public/bin-debug/config/*
public/bin-debug/config/
public/bin/config
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
log
npm-debug.log
vendor/bundle
.bundle
.actionScriptProperties
.buildpath
build/
dist/
/build.properties
.externalToolBuilders/*
.externalToolBuilders
resources/*.properties
node_modules
/app.yaml
*.pyc
css/*.css
.gitattributes
.settings/
.settings/*
_SpecRunner.html
js/*-all*js*
.tags*
*.sublime*
.DS_Store
backend.json
.grunt/
*.swp
# Vendor files (downloaded)
js/vendor/backbone.js
js/vendor/jquery-ui
js/vendor/lodash.js
js/vendor/ace/*.js
js/vendor/jquery.jstree.js
js/vendor/jquery.dataTables.js
js/vendor/jquery.terminal.js
js/vendor/ICanHaz.js
js/vendor/require.js
js/vendor/twitter/*.js
js/vendor/URI.js
