<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Domain Name</th>
                <th>Hosted Zone ID</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{domain}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active" id="properties"><a data-toggle="tab" href="#properties_tab">Details</a></li>
                    <li id="record_sets"><a data-toggle="tab" href="#record_sets_tab">Record Sets</a></li>
                </ul>
                <div class="tab-content">
                    <div id="properties_tab" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>Domain Name:</b></td>    <td>{{ domain }}</td></tr>
                                <tr><td><b>Hosted Zone ID:</b></td> <td>{{ id }}</td></tr>
                                <tr><td><b>Comment:</b></td>        <td>{{ description }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="record_sets_tab" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
</script>