<div class="row-fluid">
	<div class="span8">
		<form>
			<a target="_blank" href="<%=model.get('url') %>"><img style="float:left;" src="<%=model.get('icon') %>" /></a>
			<h4><%=model.get('name') %> [v<%=model.get('version') %>]</h4>
			<p><%=model.get('briefDescription') %></p>
			<img style="float:left;" src="<%=model.get('illustration') %>"/>
			
			<div class="control-group">
				<label class="control-label">Description</label>
				<div class="controls">
					<p><%=model.get('longDescription') %></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">SKU</label>
				<div class="controls">
					<p><%=model.get('sku') %></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Stacks</label>
				<div class="controls"><!--TODO: Make template fancy - consider editability -->
					<ul><%
						var stacks = model.get('stacks');
						var tmpl = _.template("<li><strong><%" + "=model.get('name')%" + "><" + "/strong" + "><" + "/li>");
						_.each(stacks, function(stack){ 
						 	var s = new Stack(stack);%>
							<%=tmpl({model:s, Stack:Stack})%>
							<br/>
						<% }) %>
					
					<//ul>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">EULA</label>
				<div class="controls">
					<p><%=model.get('eulaName') %></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Custom EULA</label>
				<div class="controls">
					<p><%=model.get('eulaCustom') %></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Support</label>
				<div class="controls">
					<p><%=model.get('support') %></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Pricing</label>
				<div class="controls">
					<p><%=model.get('pricing') %></p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Relates To</label>
				<div class="controls">
					<p><%=model.get('relatesTo') %></p>
				</div>
			</div>
		</form>	
	</div>	
</div>