<div id="security_group_create">
    <table>
        <tr>
            <td><b>Node Count*:</b></td>
            <td>
                <input id="node_count_input" type="text"/>
            </td>
        </tr>
        <tr>
            <td><b>Apply Immediately*:</b></td>
            <td>
                <input type="checkbox" id="apply_input" checked="checked">
            </td>
        </tr>
        <tr>
            <td><b>Auto Minor Version Upgrade*:</b></td>
            <td>
                <input type="checkbox" id="version_input" checked="checked">
            </td>
        </tr>
        <tr>
            <td><b>Node(s) to Remove:</b></td>
            <td>
                <select id="nodes_select" multiple="multiple" style="width: 135px"></select>
            </td>
        </tr>
    </table>
</div>