<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Bucket</button>
                </td>
                <td>                    
                    <ul class="action_menu">
                        <li style="z-index: 1000">
                            <a class="actions_button" href="#">Actions</a>
                            <ul>
                                <li class="ui-state-disabled"><a href="#">Delete</a></li>
                                <li class="ui-state-disabled"><a href="#">Refresh</a></li>
                                <li class="ui-state-disabled"><a href="#">Paste Into</a></li>
                                <li class="ui-state-disabled"><a href="#">Properties</a></li>                    
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="button_bar">
        <button class="create_button">Create Folder</button>
        <ul class="action_menu">
            <li style="z-index: 1000">
                <a class="actions_button" href="#">Actions</a>
                <ul>
                    <li class="ui-state-disabled"><a href="#">Open</a></li>
                    <li class="ui-state-disabled"><a href="#">Download</a></li>
                    <li class="ui-state-disabled"><a href="#">Upload</a></li>
                    <li class="ui-state-disabled"><a href="#">Make Public</a></li>
                    <li class="ui-state-disabled"><a href="#">Rename</a></li>
                    <li class="ui-state-disabled"><a href="#">Delete</a></li>                    
                </ul>
            </li>
        </ul>
    </div>
    <div id="detail_tabs">
        <ul>
            <li><a href="#properties_tab">Details</a></li>
            <li><a href="#contents_tab">Contents</a></li>
        </ul>
        <div id="properties_tab" class="tab">
            <div>Name: {{ Name }} </div>
        </div>
        <div id="contents_tab" class="tab">
            <div id="bucket_contents"></div>
        </div>
    </div>
</script>