<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{key}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active" id="properties"><a data-toggle="tab" href="#properties_tab">Details</a></li>
                    <li id="objects"><a data-toggle="tab" href="#object_tab">Objects</a></li>
                </ul>
                <div class="tab-content">
                    <div id="properties_tab" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>Name:</b></td>                   <td>{{ key }}</td></tr>
                                <tr><td><b>Creation Date:</b></td>          <td>{{ creation_date }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="object_tab" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
</script>