<div>
    <div class="button_bar">
        <ul id="action_menu">
            <li>
                <button id="create_button">Create Bucket</button>
            </li>
            <li style="z-index: 1000">
                <a id="actions_button" href="#">Actions</a>
                <ul>
                    <li class="ui-state-disabled"><a href="#">Delete Volume</a></li>
                    <li class="ui-state-disabled"><a href="#">Attach Volume</a></li>
                    <li><a href="#">Detach Volume</a></li>
                    <li class="ui-state-disabled"><a href="#">Force Detach</a></li>
                    <li class="ui-state-disabled"><a href="#">Create Snapshot</a></li>
                    <li class="ui-state-disabled"><a href="#">Change Auto-Enable IO Setting</a></li>                    
                </ul>
            </li>
        </ul>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <div>Name: {{ Name }} </div>
        </div>
    </div>
</script>