<div id="bucket_create">
    <div id="accordion">
        <h3>Bucket Name and Region</h3>
        <div>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input id="bucket_name_input" type="text" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>Region:</td>
                    <td>
                        <select id="region_select" style="width:150px"></select>
                    </td>
                </tr>
            </table>
        </div>
        <h3>Setup Logging</h3>
        <div>
            <table>
                <tr>
                    <td>Enabled:</td>
                    <td>
                        <input id="logging_enabled" type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>Target Bucket:</td>
                    <td>
                        <select id="target_bucket_select" style="width:150px"></select>
                    </td>
                </tr>
                <tr>
                    <td>Target Prefix:</td>
                    <td>
                        <input id="target_bucket_prefix_input" type="text" style="width:200px;"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>