<link rel="stylesheet" href="/js/vendor/maple/css/main.css" type="text/css" />
<link rel="stylesheet" href="/css/treeView.css" type="text/css" />
<div>
    <div id="vcloud_tree">
        
    </div>
    <!-- <div id="details" class="detail_panel"></div> -->
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a id="org_details" href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Status:</b></td><td>Being an organization</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</script>