<div>
    <table>
        <tr>
            <td>Volume:</td>
            <td>
                <span id="volume_display"></span>
            </td>
        </tr>
        <tr>
            <td>Instance:</td>
            <td>
                <select id="instance_select" style="width:200px;"></select>
                <span id="instance_zone_message"></span>
            </td>
        </tr>
        <tr>
            <td>Device:</td>
            <td>
                <input id="device_input" style="width:200px;" />
                Example: /dev/xvdf
            </td>
        </tr>
    </table>
</div>