<div id="volume_create">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input id="volume_name_input" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Volume Type:</td>
            <td>
                <select id="volume_type_select" style="width:150px;"></select>
            </td>
        </tr>
        <tr>
            <td>Size:</td>
            <td>
                <input id="volume_size_input" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>IOPS:</td>
            <td>
                <input id="volume_iops_input" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Availability Zone:</td>
            <td>
                <select id="az_select" style="width:150px;"></select>
            </td>
        </tr>
        <tr>
            <td>Snapshot:</td>
            <td>
                <select id="snapshot_select" style="width:360px;"></select>
            </td>
        </tr>
    </table>
</div>