<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Volume</button>
                </td>
                <td>                    
                    <ul class="action_menu">
                        <li style="z-index: 1000">
                            <a class="actions_button" href="#">Actions</a>
                            <ul>
                                <li class="ui-state-disabled"><a href="#">Delete Volume</a></li>
                                <li class="ui-state-disabled"><a href="#">Attach Volume</a></li>
                                <li class="ui-state-disabled"><a href="#">Detach Volume</a></li>
                                <li class="ui-state-disabled"><a href="#">Force Detach</a></li>
                                <li class="ui-state-disabled"><a href="#">Create Snapshot</a></li>
                                <li class="ui-state-disabled"><a href="#">Change Auto-Enable IO Setting</a></li>                   
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>        
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Volume</th>
                <th>Size</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Name:</b></td>                   <td>{{ tags.Name }}</td></tr>
                    <tr><td><b>Volume ID:</b></td>              <td>{{ id }}</td></tr>
                    <tr><td><b>Size:</b></td>                   <td>{{ size }}</td></tr>
                    <tr><td><b>Availability Zone:</b></td>      <td>{{ availability_zone }}</td></tr>
                    <tr><td><b>Type:</b></td>                   <td>{{ type }}</td></tr>
                    <tr><td><b>Server ID:</b></td>              <td>{{ server_id }}</td></tr>
                    <tr><td><b>Device:</b></td>                 <td>{{ device }}</td></tr>
                    <tr><td><b>Attached At:</b></td>            <td>{{ attached_at }}</td></tr>
                    <tr><td><b>Snapshot ID:</b></td>            <td>{{ snapshot_id }}</td></tr>
                    <tr><td><b>Delete on Termination:</b></td>  <td>{{ delete_on_termination }}</td></tr>
                    <tr><td><b>State:</b></td>                  <td>{{ state }}</td></tr>
                    <tr><td><b>Created At:</b></td>             <td>{{ created_at }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</script>