<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Address</th>
                <th>Instance ID</th>
                <th>Scope</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{public_ip}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tabs-1" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>Public IP:</b></td>      <td>{{ public_ip }}</td></tr>
                                <tr><td><b>Instance ID:</b></td>    <td>{{ server_id }}</td></tr>
                                <tr><td><b>Scope:</b></td>          <td>{{ domain }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>