<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Instance</button>
                </td>
                <td>
                    <ul class="action_menu">
                        <li style="z-index: 1000">
                            <a class="actions_button" href="#">Actions</a>
                            <ul>
                                <li class="ui-state-disabled"><a href="#">Console</a></li>
                                <li class="ui-state-disabled"><a href="#">Start</a></li>
                                <li class="ui-state-disabled"><a href="#">Stop</a></li>
                                <li class="ui-state-disabled"><a href="#">Reboot</a></li>
                                <li class="ui-state-disabled"><a href="#">Terminate</a></li>
                                <li class="ui-state-disabled"><a href="#">Associate Address</a></li>
                                <li class="ui-state-disabled"><a href="#">Disassociate Address</a></li>
                                <li class="ui-state-disabled"><a href="#">Launch More Like This</a></li>
                                <li class="ui-state-disabled"><a href="#">View System Log</a></li>                    
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instance</th>
                <th>Key</th>
                <th>Running</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
            <li><a id="monitoring" href="#tabs-2">Monitoring</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <div>Name: {{ name }} </div>
            <div>Instance ID: {{ instanceId }} </div>
            <div>Key Name: {{ keyName }} </div>
        </div>
        <div id="tabs-2" class="tab">
            <div id="cpuGraph"></div>
            <div id="diskReadGraph"></div>
            <div id="diskReadOpsGraph"></div>
            <div id="diskWriteGraph"></div>
            <div id="diskWriteOpsGraph"></div>
            <div id="networkInGraph"></div>
            <div id="networkOutGraph"></div>
        </div>
    </div>
    
</script>