<div id="instance_create">
    <table>
        <tr>
            <td>Platform:</td>
            <td>
                <select id="platform_select" style="width:250px;"></select>
            </td>
        </tr>
        <tr>
            <td>Instance Type:</td>
            <td>
                <select id="instance_type_select" style="width:200px;"></select>
            </td>
        </tr>
        <tr>
            <td>Availability Zone:</td>
            <td>
                <select id="az_select" style="width:200px;"></select>
            </td>
        </tr>
        <tr>
            <td>Term:</td>
            <td>
                <select id="term_select" style="width:200px;"></select>
            </td>
        </tr>
        <tr>
            <td>Offering Type:</td>
            <td>
                <select id="offering_type_select" style="width:200px;"></select>
            </td>
        </tr>
    </table>
</div>