<div>
    <table id="filters_table">
        <tbody>
            <tr>
                <td>
                    <b>Product:</b>&nbsp;
                    <select id="product_select">
                        <option>Linux/UNIX</option>
                        <option>Windows</option>
                        <option>SUSE Linux</option>
                        <option>Linux/UNIX (Amazon VPC)</option>
                        <option>Windows (Amazon VPC)</option>
                        <option>SUSE Linux (Amazon VPC)</option>
                    </select>
                </td>
                <td>
                    <b>Type:</b>&nbsp;
                    <select id="flavor_select" style="width:270px"></select>
                </td>
                <!--
                <td>
                    <select id="date_range_select">
                        <option>1 day</option>
                        <option>1 week</option>
                        <option>1 month</option>
                        <option>3 months</option>
                    </select>
                </td>
                -->
                <td>
                    <b>Zone:</b>&nbsp;
                    <select id="az_select" style="width:100px"></select>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="price_history_graph" style="height:300px;width:770px;"></div>
</div>