<div id="spot_instance_create">
    <div id="accordion">
        <h3>Instance Configuration</h3>
        <div>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        <input id="image_name" type="text" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>Image:</td>
                    <td>
                        <input id="image_combo_box" style="width:200px;"/>
                    </td>
                </tr>
                <tr>
                    <td>Machine Size:</td>
                    <td>
                        <select id="size_select" style="width:150px"></select>
                    </td>
                </tr>
                <tr>
                    <td>Availability Zone:</td>
                    <td>
                        <select id="az_select" style="width:150px;"></select>
                    </td>
                </tr>
                <tr>
                    <td>Key Pair:</td>
                    <td>
                        <select id="key_pair_select" style="width:150px;"></select>
                    </td>
                </tr>
                <tr>
                    <td>Security Group(s):</td>
                    <td>
                        <select id="security_group_select" multiple="multiple" style="width:360px;"></select>
                    </td>
                </tr>
            </table>
            <hr>
            <table>
                <tr>
                    <td>Current Price:</td>
                    <td id="current_price">$0.003</td>
                </tr>
                <tr>
                    <td>Max Price:</td>
                    <td><input id="max_price" type="text" style="width:100px;"/></td>
                </tr>
                <tr>
                    <td>Launch Group:</td>
                    <td><input id="launch_group" type="text" style="width:200px;"/></td>
                </tr>
                <tr>
                    <td>Request Valid From:</td>
                    <td><input id="valid_from_year" type="text" style="width:40px">
                    -
                    <input id="valid_from_month" type="text" style="width:20px">
                    -
                    <input id="valid_from_day" type="text" style="width:20px">
                    <input id="valid_from_hour" type="text" style="margin-left:10px;width:20px">
                    :
                    <input id="valid_from_minute" type="text" style="width:20px"></td>
                </tr>
                <tr>
                    <td>Request Valid Until:</td>
                    <td><input id="valid_unti_year" type="text" style="width:40px">
                    -
                    <input id="valid_unti_month" type="text" style="width:20px">
                    -
                    <input id="valid_unti_day" type="text" style="width:20px">
                    <input id="valid_unti_hour" type="text" style="margin-left:10px;width:20px">
                    :
                    <input id="valid_unti_minute" type="text" style="width:20px"></td>
                </tr>
                <tr>
                    <td>Persistent Request:</td>
                    <td><input id="persistent_request" type="checkbox"/></td>
                </tr>
            </table>
        </div>
        <h3>Additional Configuration</h3>
        <div>
            <table>
                <tr>
                    <td>Detailed Monitoring:</td>
                    <td>
                        <input id="monitoring" type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>Termination Protection:</td>
                    <td>
                        <input id="term_protection" type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td>Shutdown Behavior:</td>
                    <td>
                        <input id="shutdown_behavior" type="checkbox" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>