<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Volume</button>
                </td>
                <td>                    
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete Volume</a></li>
                                <li><a>Attach Volume</a></li>
                                <li><a>Detach Volume</a></li>
                                <li><a>Force Detach</a></li>
                                <li><a>Create Snapshot</a></li>                  
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>        
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Volume</th>
                <th>Size</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
            <li><a id="monitoring" href="#tabs-2">Monitoring</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Name:</b></td>                   <td>{{ tags.Name }}</td></tr>
                    <tr><td><b>Volume ID:</b></td>              <td>{{ id }}</td></tr>
                    <tr><td><b>Size:</b></td>                   <td>{{ size }}</td></tr>
                    <tr><td><b>Availability Zone:</b></td>      <td>{{ availability_zone }}</td></tr>
                    <tr><td><b>Type:</b></td>                   <td>{{ type }}</td></tr>
                    <tr><td><b>Server ID:</b></td>              <td>{{ server_id }}</td></tr>
                    <tr><td><b>Device:</b></td>                 <td>{{ device }}</td></tr>
                    <tr><td><b>Attached At:</b></td>            <td>{{ attached_at }}</td></tr>
                    <tr><td><b>Snapshot ID:</b></td>            <td>{{ snapshot_id }}</td></tr>
                    <tr><td><b>Delete on Termination:</b></td>  <td>{{ delete_on_termination }}</td></tr>
                    <tr><td><b>State:</b></td>                  <td>{{ state }}</td></tr>
                    <tr><td><b>Created At:</b></td>             <td>{{ created_at }}</td></tr>
                </tbody>
            </table>
        </div>
        <div id="tabs-2" class="tab" style="overflow:hidden;">
            <div class="monitor_options">
                <table>
                    <tr>
                        <td>Time Range:</td>
                        <td>
                            <select id="monitor_time_range">
                                <option value='{"time_range":3600, "period":300}' selected>Last Hour</option>
                                <option value='{"time_range":10800, "period":600}'>Last 3 Hours</option>
                                <option value='{"time_range":21600, "period":900}'>Last 6 Hours</option>
                                <option value='{"time_range":43200, "period":1800}'>Last 12 Hours</option>
                                <option value='{"time_range":86400, "period":3600}'>Last 24 Hours</option>
                                <option value='{"time_range":604800, "period":21600}'>Last Week</option>
                                <option value='{"time_range":1209600, "period":21600}'>Last 2 Weeks</option>
                            </select>
                        </td>
                        <td>
                            <button id="refresh_monitors_button">Refresh</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Idle Time</div>
                <div id="volume_idle_time" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Queue Length</div>
                <div id="volume_queue_length" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Read Bytes</div>
                <div id="volume_read_bytes" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Read Ops</div>
                <div id="volume_read_ops" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Total Read Time</div>
                <div id="volume_total_read_time" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Total Write Time</div>
                <div id="volume_total_write_time" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Write Bytes</div>
                <div id="volume_write_bytes" class="monitor_graph"></div>
            </div>
            <div class="monitor_graph_container">
                <div class="monitor_caption">Volume Write Ops</div>
                <div id="volume_write_ops" class="monitor_graph"></div>
            </div>
        </div>
    </div>
</script>