<div id="volume_create">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input id="volume_name_input" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <input id="volume_description_input" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Size*:</td>
            <td>
                <input id="volume_size_input" type="text" style="width:100px;"/>
                GB (Min: 1 GB, Max: 1000 GB)
            </td>
        </tr>
        <tr>
            <td>Availability Zone*:</td>
            <td>
                <select id="az_select" style="width:150px;"></select>
            </td>
        </tr>
        <tr>
            <td>Snapshot:</td>
            <td>
                <select id="snapshot_select" style="width:400px;">
                    <option value="none">---No Snapshot---</option>
                </select>
            </td>
        </tr>
    </table>
</div>