<div id="tenant_create_template">
	<table>
        <tr>
            <td>Tenant Name:</td>
            <td>
                <input id="tenant_name_input" type="text" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
                <textarea id="description_input" class="medium_width"></textarea>
            </td>
        </tr>
        <tr>
            <td>Enabled:</td>
            <td>
                <input id="enabled_checkbox" type="checkbox" checked/>
            </td>
        </tr>
    </table>
</div>
