<div id="user_create_template">
    <table>
        <tr>
            <td>User Name:</td>
            <td>
                <input id="username_input" type="text" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input id="email_input" type="text" class="large_width"/>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input id="password_input" type="password" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td>
                <input id="password_confirm_input" type="password" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Tenant:</td>
            <td>
                <select id="tenant_select" class="medium_width"></select>
            </td>
        </tr>
    </table>
</div>
