<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Group</button>
                </td>
                <td>
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete Group</a></li>             
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Group Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
            <li><a id="users" href="#tabs-2">Users</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Group Name:</b></td> <td>{{ GroupName }}</td></tr>
                    <tr><td><b>Path:</b></td>       <td>{{ Path }}</td></tr>
                    <tr><td><b>Resource:</b></td>   <td>{{ Arn }}</td></tr>
                    <tr><td><b>ID:</b></td>         <td>{{ GroupId }}</td></tr>
                </tbody>
            </table>
        </div>
        <div id="tabs-2" class="tab">
            <div id="users_tab_content"></div>
        </div>
    </div>
    
</script>