<div>
	<p>This is the last time these user credentials will be visible. Please record and store safely.</p>
	<a id="display_credential_toggle" href="">Show User Credentials</a>
	<div id="user_credentials_display" style="border-style:solid;border-radius:5px;border-width:1px;border-color:#AAAAAA;background: -webkit-linear-gradient(top, #F2F2F2, #FFFFFF);margin-top:10px;">
		<table>
			<tbody>
				<tr>
					<td><b>User Name:</b></td>
					<td><span id="user_name_display"></span></td>
				</tr>
				<tr>
					<td><b>Access Key Id:</b></td>
					<td><span id="access_key_display"></span></td>
				</tr>
				<tr>
					<td><b>Secret Access Key:</b></td>
					<td><span id="secret_access_key_display"></span></td>
				</tr>
			</tbody>
		</table>
	</div>


    
    
    
</div>