<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{id}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tabs-1" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>User Name:</b></td>  <td>{{ id }}</td></tr>
                                <tr><td><b>Path:</b></td>       <td>{{ path }}</td></tr>
                                <tr><td><b>Resource:</b></td>   <td>{{ arn }}</td></tr>
                                <tr><td><b>ID:</b></td>         <td>{{ user_id }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>