<div>
	<table>
		<tbody>
			<tr>
				<td><b>User Name:</b></td>
				<td>
					<input id="user_name_input" type="text" style="width:200px;"/><span> Maximum of 128 characters</span>
				</td>
			</tr>
			<tr>
				<td><b>Login Profile:</b></td>
				<td>
					<div style="width:375px;">A password is not required to create a user. Leave the following fields blank if you do not wish to create a login profile.</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><span style="padding-left:48px;">Password:</span><input id="user_password_input" type="password"/>	
			</tr>
			<tr>
				<td></td>
				<td><span style="">Confirm Password:</span><input id="user_password_confirm_input" type="password"/></td></td>
			</tr>
			<tr>
				<td><b>Access Key:</b></td>
				<td><input id="generate_keys_checkbox" type="checkbox" checked/><span>Generate an access key</span></td>
			</tr>
		</tbody>
	</table>
	<!--
		<span>Access keys are required to make secure REST requests to the service APIs.</span>
	-->
</div>