<div>
	<div class="button_bar">
		<div class="btn-group">
			<button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
		    	Select Stack&nbsp;<span class="caret"></span>
		  	</button>
		  	<ul id="stacks_menu" class="dropdown-menu" role="menu"></ul>
	  	</div>
	  	<a id="create_stack_button" class="btn btn-primary">Create New Stack</a>
	  	<a id="delete_stack_button" class="btn btn-danger">Delete Stack</a>
	</div>
	<div id="manage_stack_content"></div>
</div>