<div class="twelvecol" style="height:700px;">
	<div id="accordion" class="layout sidebar accordion" style="width:300px;float:left;">
		<div class="accordion-group">
			<div class="accordion-heading">
		    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			    	New Resources
			    </a>
			</div>
			<div id="collapseOne" class="accordion-body collapse in">
		     	<div class="accordion-inner">
		        	<div id="new_resources"></div>
		      	</div>
		    </div>
			<div class="accordion-heading">
		    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			    	Current Template Outline
			    </a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse in">
		     	<div class="accordion-inner">
		        	<div id="current_resources"></div>
		      	</div>
		    </div>
		</div>
	</div>
	<div class="button_bar" style="position:relative;left:20px;width:74%;">
		<button id="save_template_button" type="button" data-action="save" class="btn btn-primary">Save</button>
	</div>
	<div id="design_editor" style="height:660px;position:relative;left:20px;width:74%;"></div>
</div>