<div>
	<div id="stack_run_resource_tree" style="float:left;width:73%"></div>
	<div id="stack_properties_accordion" class="layout sidebar accordion" style="position:relative;left:20px;float:left;width:25%;">
		<div class="accordion-group">
			<div class="accordion-heading">
		    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#stack_properties_accordion" href="#collapseTwo">
			    	<span id="stack_run_name"></span>
			    </a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse in">
		     	<div class="accordion-inner">
		     		<label for="stack_run_description">Description:</label><span id="stack_run_description" class="span_label"></span>
		     		<label for="stack_run_compatible_clouds">Compatible Clouds:</label><span id="stack_run_compatible_clouds" class="span_label"></span>
		      	</div>
		    </div>
		</div>
	</div>
</div>