<div>
	<div class="control-group">
		<div class="controls">
			<div class="btn-group">
				<button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
			    	Select Stack&nbsp;<span class="caret"></span>
			  	</button>
			  	<ul id="stacks_menu" class="dropdown-menu" role="menu"></ul>
		  	</div>
		  	<a id="create_stack_button" class="btn btn-primary">Create New Stack</a>
		  	<div class="btn-group">
				<button type="button" class="btn dropdown-toggle btn-danger" data-toggle="dropdown">
			    	Delete Stack&nbsp;<span class="caret"></span>
			  	</button>
			  	<ul id="stacks_delete_menu" class="dropdown-menu" role="menu"></ul>
		  	</div>
		</div>
	</div>
	<div id="stack_opened" hidden>
		<!-- <ul class="nav nav-tabs"> 
            <li id="design-tab" class="active"><a href="#tabs-design" data-toggle="tab">Design Time</a></li> 
            <li><a href="#tabs-run" data-toggle="tab">Run Time</a></li> 
        </ul> --> 
        <div class="tab-content"> 
            <div id="tabs-design" class="tab-pane active"> 
                <div id="design_time_content"></div> 
            </div> 
            <div id="tabs-run" class="tab-pane"> 
                <div id="run_time_content"></div> 
            </div>
        </div>
	</div>
	<div id="stack_not_opened" hidden>
		<div class="hero-unit"> 
		    <h3>Select a stack above, or begin by creating a new stack!</h3> 
		</div>
	</div>
</div>