<div class="project">
    <h1>Projects</h1>

    <div class="accordion">
        <h3>My Projects</h3>
        <div>
            <div id="project0">
                <a href="#" class="projlink" name="Project0">Project 0</a>
            </div>
        
            <div id="project1">
                <a href="#" class="projlink" name="Project1">Project 1</a>
            </div>
            
            <div id="project2">
                <a href="#" class="projlink" name="Wordpress">Wordpress</a>
            </div>
        </div>
        
        <h3>Shared Projects</h3>
        <div>
            <div id="Projects0">
                <a href="#" class="projlink">Shared Project 0</a>
            </div>
        
            <div id="Projects1">
                <a href="#" class="projlink">Shared Project 1</a>
            </div>
        </div>
        
        <h3>New Project</h3>
        <div>
            <div id="NewProject">
                <a href="#" class="newprojlink">New Project</a>
            </div>
        </div>
    </div>
</div>