<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th style="width:100px;">Group ID</th>
                <th>Family</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{id}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#properties_tab">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div id="properties_tab" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>ID:</b></td>           <td>{{ id }}</td></tr>
                                <tr><td><b>Description:</b></td>    <td>{{ description }}</td></tr>
                                <tr><td><b>Family:</b></td>       <td>{{ family }}</td></tr>
                            </tbody>
                        </table>
                        <div style="overflow:auto;height:400px;" class="full_width">
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th>Parameter Name</th>
                                        <th>Parameter Value</th>
                                        <th>Data Type</th>
                                        <th>Source</th>
                                        <th>Modify</th>
                                        <th>Description</th>
                                        <th>Apply Type</th>
                                        <th>Allowed Values</th>
                                    </tr>
                                </thead>
                                <tbody id="describe_table">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>