<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>DB Instance</th>
                <th>Class</th>
                <th>Storage</th>
                <th>Engine</th>
                <th>Zone</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{ db_name }}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" id="database_details" href="#tabs-1">Details</a></li>
                    <li><a data-toggle="tab" id="monitoring" href="#tabs-2">Monitoring</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tabs-1" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>DB Instance:</b></td>        <td>{{ id }}</td>                   <td><b>DB Name:</b></td>                <td>{{ db_name }}</td></tr>
                                <tr><td><b>Engine:</b></td>             <td>{{ engine }}</td>               <td><b>Endpoint:</b></td>               <td>{{ endpoint.Address }}:{{ endpoint.Port }}</td></tr>
                                <tr><td><b>Engine Version:</b></td>     <td>{{ engine_version }}</td>       <td><b>Master Username:</b></td>        <td>{{ master_username }}</td></tr>
                                <tr><td><b>License Model:</b></td>      <td>{{ license_model }}</td>        <td><b>Last Restorable Time:</b></td>   <td>{{ last_restorable_time }}</td></tr>
                                <tr><td><b>Class:</b></td>              <td>{{ flavor_id }}</td>            <td><b>Backup Window:</b></td>          <td>{{ preferred_backup_window }}</td></tr>
                                <tr><td><b>Storage:</b></td>            <td>{{ allocated_storage }} GBs</td><td><b>Maintenance Window:</b></td>     <td>{{ preferred_maintenance_window }}</td></tr>
                                <tr><td><b>Zone:</b></td>               <td>{{ availability_zone }}</td></tr>
                                <tr><td><b>Multi-AZ:</b></td>           <td>{{ multi_az }}</td></tr>
                                <tr><td><b>Auto Minor Upgrade:</b></td> <td>{{ auto_minor_version_upgrade }}</td></tr>
                                <tr><td><b>Created At:</b></td>         <td>{{ created_at }}</td></tr>
                                <tr><td><b>State:</b></td>              <td>{{ state }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="tabs-2" class="tab-pane" style="overflow:hidden;">
                        <div class="monitor_options">
                            <table>
                                <tr>
                                    <td>Time Range:</td>
                                    <td>
                                        <select id="monitor_time_range">
                                            <option value='{"time_range":3600, "period":300}' selected>Last Hour</option>
                                            <option value='{"time_range":10800, "period":600}'>Last 3 Hours</option>
                                            <option value='{"time_range":21600, "period":900}'>Last 6 Hours</option>
                                            <option value='{"time_range":43200, "period":1800}'>Last 12 Hours</option>
                                            <option value='{"time_range":86400, "period":3600}'>Last 24 Hours</option>
                                            <option value='{"time_range":604800, "period":21600}'>Last Week</option>
                                            <option value='{"time_range":1209600, "period":21600}'>Last 2 Weeks</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button id="refresh_monitors_button">Refresh</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">CPU Utilization</div>
                            <div id="cpu_utilization" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Database Connections</div>
                            <div id="database_connections" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Freeable Memory</div>
                            <div id="freeable_memory" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Freeable Space</div>
                            <div id="free_storage_space" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Read IOPS</div>
                            <div id="read_iops" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Read Latency</div>
                            <div id="read_latency" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Read Throughput</div>
                            <div id="read_throughput" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Swap Usage</div>
                            <div id="swap_usage" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Write IOPS</div>
                            <div id="write_iops" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Write Latency</div>
                            <div id="write_latency" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Write Throughput</div>
                            <div id="write_throughput" class="monitor_graph"></div>
                        </div>
                        <div class="monitor_graph_container">
                            <div class="monitor_caption">Disk Queue Depth</div>
                            <div id="disk_queue_depth" class="monitor_graph"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>