<div id="port_create_template">
    <table>
        <tr>
            <td>Network:</td>
            <td>
                <select id="network_select" class="medium_width"></select>
            </td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>
                <input id="name_input" type="text" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Admin State Up:</td>
            <td>
                <input id="admin_state_up_checkbox" type="checkbox"/>
            </td>
        </tr>
    </table>
</div>
