<div id="network_create_template">
    <table>
        <tr>
            <td>Network Name:</td>
            <td>
                <input id="network_name_input" type="text" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Tenant:</td>
            <td>
                <select id="tenant_select" class="medium_width"></select>
            </td>
        </tr>
        <tr>
            <td>Admin State Up:</td>
            <td>
                <input id="admin_state_up_checkbox" type="checkbox"/>
            </td>
        </tr>
        <tr>
            <td>Shared:</td>
            <td>
                <input id="shared_checkbox" type="checkbox"/>
            </td>
        </tr>
    </table>
</div>
