<div id="network_create_template">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input id="subnet_name_input" class="medium_width"></select>
            </td>
        </tr>
        <tr>
            <td>Network:</td>
            <td>
                <select id="network_select" class="medium_width"></select>
            </td>
        </tr>
        <tr>
            <td>CIDR:</td>
            <td>
                <input id="cidr_input" type="text" class="medium_wdith"/>
            </td>
        </tr>
        <tr>
            <td>IP Version:</td>
            <td>
                <select id="ip_version_select" class="small_width">
                    <option value="4">v4</option>
                    <option value="6">v6</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Gateway IP:</td>
            <td>
                <input id="gateway_ip_input" type="text" class="medium_width"/>
            </td>
        </tr>
        <tr>
            <td>Allocation Pools:</td>
            <td>
                <input id="allocation_pools_input" type="text" class="medium_width"/>
            </td>
        </tr>
    </table>
</div>
