<div class="accordion">
	<div id="myProjects" class="head">
		MyProjects
	</div>
	<div>
		<% @projects.each_with_index do |project, indx| %>
    
	  	<div id="Projects<%=indx%>">
	  		<a href="#"/>
		</div>
		<% end %>
	</div>
<!--this is project/_project_list-->
</div> 
