<div class="dialog_panel">
    <ul class="horizlist">
        <li>
            <a href="#" class="hover_panel">
                <h3>Wordpress</h3>
    
                <p>Use our wordpress sample to start</p>
            </a>   
        </li>
    </ul>
    
    <!--<ul class="horizlist">
        <li>
            <a href="#" class="hover-panel">
                <h3>Blank</h3>
        
                <p>Start an empty project</p>
            </a>  
        </li>
        <li>
            <a href="#" class="hover-panel">
                <h3>Import</h3>
    
                <p>Import from StackPlace</p>
            </a>  
        </li>
        <li>
            <a href="#" class="hover-panel">
                <h3>Upload</h3>
    
                <p>Upload from URL or local file</p>
            </a>  
        </li>                
    </ul>-->
</div>