<div class="layout">
    <div id="hsplitter">
        <div class="accordion new_resources">
            <h3>AWS Resources</h3>
            <div>
                <!--% @projects.each_with_index do |project, indx| % -->
            
                <div id="instance"> <!--%=indx%-->
                    <a href="#" id="instance_link" class="resource_link" name="NewComputeInstance">Compute Instance</a>
                </div>
            
                <div id="database"> <!--%=indx%-->
                    <a href="#" id="db_link" class="resource_link" name="NewRelationalDatabase">Relational Database</a>
                </div>
                <!--% end %-->
            </div>
            
            <h3>Configurations</h3>
            <div>
                <!--% @projects.each_with_index do |project, indx| % -->
            
                <div id="chef"> <!--%=indx%-->
                    <a href="#" class="config_link">Chef</a>
                </div>
            
                <div id="puppet"> <!--%=indx%-->
                    <a href="#" class="config_link">Puppet</a>
                </div>
                
                <div id="cfn-init"> <!--%=indx%-->
                    <a href="#" class="config_link">Cfn-Init</a>
                </div>
                <!--% end %-->
            </div>
        </div>
        <div id="resource_list" class="new_resources_list">
        </div>        
    </div>
</div>

