<div class="project_tab" style="height:100%">
	<ul style="list-style:none;border:solid 1px gray;float:left;width:25%;padding:10px 10px;height:500px">
		<li id="obj1" class="resource">
            <img src="images/statusRunning.gif"/>
			<img src="images/IconPNGs/NewServer.png" style="width:20px;height:auto;"/>
			<span>MyServer</span>
		</li>
		<li  id="obj2" class="resource">
			<img src="images/statusTerminated.gif"/>
			<img src="images/IconPNGs/NewDB.png" style="width:20px;height:auto;"/>
			<span>MyDB</span>
		</li>
	</ul>
	<div style="border:solid 1px gray;float:right;width:65%;padding:10px 10px;height:500px">
		Details
        <br/>
        <span id="name">Name: -</span><br/>
        <span id="id">Id: -</span><br/>
        <span id="resource_type">Type: -</span><br/>
	</div>
</div>
<script>
    function clearSelection() {
        $('.resource').each(function() {
        	$(this).css("background", "#FFFFFF");
        })	
    }
    
    $(document).ready(function() {    	
            $('.resource').click(function() {
            var resourceId = $(this).attr("id");
            clearSelection();
            $(this).css("background", "#99FFFF");
            if(resourceId=="obj1") {
            	$("#name").html("Name: MyServer");
            	$("#id").html("Id: i-0001234");
            	$("#resource_type").html("Type: Server");
            }else {
            	$("#name").html("Name: MyDB");
            	$("#id").html("Id: db-1234");
            	$("#resource_type").html("Type: Database");
            }
       })
   });
</script>
