<table>
    <tr>
        <td id="table_level_actions"></td>
        <td>
            <div id="row_level_actions" class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="action_button" data-toggle="dropdown">
                    Actions
                    <span class='caret'></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="action_button" id="action_menu" style="z-index: 1000"></ul>
            </div>
        </td>
    </tr>
</table>