<div id="instance_create">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input id="image_name" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Image:</td>
            <td>
                <input id="image_combo_box" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Machine Size:</td>
            <td><select id="size_select" style="width:150px"></select></td>
        </tr>
        <tr>
            <td>Availability Zone:</td>
            <td>
                <select id="az_select" style="width:150px;"></select>
            </td>
        </tr>
        <tr>
            <td>Key Pair:</td>
            <td>
                <select id="key_pair_select" style="width:150px;"></select>
            </td>
        </tr>
        <tr>
            <td>Security Group(s):</td>
            <td>
                <select id="security_group_select" multiple="multiple" style="width:355px;"></select>
            </td>
        </tr>
    </table>
</div>