<div>
    <table id="instance_table" class="instance_table full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instance</th>
                <th>Key</th>
                <th>Running</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div class="button_bar">
        <button id="new_instance">Create New Instance</button>
    </div>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="instance_detail">
    <div id="tabs" class="full_width">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <div>Name: {{ name }} </div>
            <div>Instance ID: {{ instanceId }} </div>
            <div>Key Name: {{ keyName }} </div>
        </div>
    </div>
</script>
<script type="text/html" id="instance_form">
    <div>
        <label for="id_name">Name:</label><br/>
        <input id="id_name" name="name">{{ name }}</input><br/>
        <label for="id_description">Description:</label><br/>
        <input id="id_description" name="description">{{ description }}</input><br/>
        <button id="id_save_new">Create New Instance</button><br/>
    </div>
</script>