<div id="resource_summary">
    <h3 id="bread_crumb">
        <span id="cloud_nav"></span>
        <span id="region_nav"></span>
        <span id="service_nav"></span>
        <span id="credential_nav"></span>
    </h3>
    <div id="resource_nav">
        <div class="row">
            <div id="cloud_coverflow" class="col-md-1"></div>
                <div class="col-md-9">
                <div id="cloud_specs" class="row"></div>
                <div id="services_table" class="row">
                    <span id="native_service_label" class="service_group_label">Native</span>
                    <table id="native_services_table" class="services_table">
                        <tbody>
                            <tr id="native_row1"></tr>
                            <tr id="native_row2"></tr>
                            <tr id="native_row3"></tr>
                        </tbody>
                    </table>
                    <span id="topstack_service_label" class="service_group_label">TopStack</span>
                    <table id="topstack_services_table" class="services_table">
                        <tbody>
                            <tr id="topstack_row1"></tr>
                            <tr id="topstack_row2"></tr>
                            <tr id="topstack_row3"></tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <div id="clouds_disabled" hidden>
                    <div class="jumbotron">
                        <h4>No cloud has been enabled in the policy.</h4>
                    </div>
                </div>
        </div>

        <div style="clear: both;"></div>
    </div>
</div>
<div id="service_menu"></div>
<div id="resource_app"></div>
<div id="resource_not_opened" hidden>
    <div class="jumbotron">
        <h4>Select a service above for more details of its resources!</h4>
    </div>
</div>
