<div class="hentry" style="margin-top:20px;">
    <span style="float:left;margin-right:20px;width:25%">
        CoverFlow Here!
    </span>
    <table style="border-style:solid;list-style-type:none;background:#E6E9ED;float:center;width:70%">
        <tr>
            <td id="alarm" class="resource" style="border-left:solid 10px transparent;"><a id="alarm" class="resourceLink">Alarm</a></td>
            <td id="as" class="resource" style="border-left:solid 10px transparent;"><a id="as" class="resourceLink">Auto Scale</a></td>
            <td id="bean" class="resource" style="border-left:solid 10px transparent;"><a id="bean" class="resourceLink">Elastic Beanstalk</a></td>
        </tr>
        <tr>
            <td id="ebs" class="resource" style="border-left:solid 10px transparent;"><a id="ebs" class="resourceLink">Elastic Block Storage</a></td>
            <td id="elc" class="resource" style="border-left:solid 10px transparent;"><a id="elc" class="resourceLink">Elasticache</a></td>
            <td id="ec2" class="resource" style="border-left:solid 10px transparent;"><a id="ec2" class="resourceLink" href="/#resources/instances">Elastic Compute Cloud</a></td>
        </tr>
        <tr>
            <td id="dns" class="resource" style="border-left:solid 10px transparent;"><a id="dns" class="resourceLink">Route 53</a></td>
            <td id="iam" class="resource" style="border-left:solid 10px transparent;"><a id="iam" class="resourceLink">IAM</a></td>
            <td id="elb" class="resource" style="border-left:solid 10px transparent;"><a id="elb" class="resourceLink">Elastic Load Balancer</a></td>
        </tr>
        <tr>
            <td id="rds" class="resource" style="border-left:solid 10px transparent;"><a id="rds" class="resourceLink">Relational Database</a></td>
            <td id="sdb" class="resource" style="border-left:solid 10px transparent;"><a id="sdb" class="resourceLink">Simple DB</a></td>
            <td id="sns" class="resource" style="border-left:solid 10px transparent;"><a id="sns" class="resourceLink">Simple Notification</a></td>
        </tr>
        <tr>
            <td id="s3" class="resource" style="border-left:solid 10px transparent;"><a id="s3" class="resourceLink">Simple Storage</a></td>
            <td id="sqs" class="resource" style="border-left:solid 10px transparent;"><a id="sqs" class="resourceLink">Simple Queue</a></td>
        </tr>
    </table>
    <br />
    <div id="resource_app"></div>
    <br />
</div>