<div>
 <div id="resource_summary" class="ui-widget-header">
        <div id="bread_crumb">
            <span id="cloud_nav"></span>
            <span id="region_nav"></span>
            <span id="service_nav"></span>
            <span id="credential_nav"></span>
            <span id="resource_summary_icon" class="ui-icon ui-icon-triangle-1-s" style="float:right"></span>
        </div>
    </div>
    <div id="resource_nav">
        <div id="cloud_coverflow"></div>
        <div>
            <div id="cloud_specs"></div> 
        </div>
        <table id="services_table">
            <tbody>
                <tr id="row1"></tr>
                <tr id="row2"></tr>
                <tr id="row3"></tr>
            </tbody>
        </table>
    </div>
    <div id="service_menu"></div>
    <div id="resource_app"></div>
</div>