<div>
    <div style="width:33%;float: left;">
        <div class="button_bar">
            <table>
                <tr>
                    <td>
                        <button class="create_button">Create Bucket</button>
                    </td>
                    <td>                    
                        <ul id="action_menu">
                            <li style="z-index: 1000">
                                <a id="action_button">Actions</a>
                                <ul>
                                    <li><a>Delete</a></li>                
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <table id="resource_table" class="full_width">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div style="width:66%;float: right;" id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li id="properties"><a href="#properties_tab">Details</a></li>
            <li id="objects"><a href="#object_tab">Objects</a></li>
        </ul>
        <div id="properties_tab" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Name:</b></td>                   <td>{{ key }}</td></tr>
                    <tr><td><b>Creation Date:</b></td>          <td>{{ creation_date }}</td></tr>
                </tbody>
            </table>
        </div>
        <div id="object_tab" class="tab"></div>
    </div>
</script>