<html>
	<head>
		<script type="text/javascript" src="/js/vendor/jquery-1.8.3.min.js"></script>
		<script>
			$(function(){
				var prmstr = window.location.search.substr(1);
				var prmarr = prmstr.split ("&");
				var params = {};

				for ( var i = 0; i < prmarr.length; i++) {
				    var tmparr = prmarr[i].split("=");
				    params[tmparr[0]] = tmparr[1];
				}
				$("body").html("<form id='login_form' action='" + params["protocol"] + "://" +params["url"] + "?isEmbedded=true' method='POST'>" +
					"<input type=hidden name='j_username' value=" + params["user"]+ "></input>"+
					"<input type=hidden name='j_password' value=" + params["pass"]+ "></input></form>");
				$("#login_form").submit();
			});
		</script>
	</head>
	<body>
		
	</body>
</html>