<div class="row">
    <h1 class="dashboard">
        Welcome to StackStudio
    </h1>
    <div class="col-lg-7">
        <div id="getstarted">
            <h3 class="dashboard">Getting Started</h3>
            <p>
                To start using StackStudio right away, click the Login link at the top of the page to
                login or register as a new user.
            </p>
        </div>
        <div>
            <h3 class="dashboard">Contributing</h3>
            <p>
                If you would like to make StackStudio even better than what it already is, consider contributing
                to our project.  Checkout our project <a href="https://github.com/TranscendComputing/StackStudio" target="_blank">here</a>.
            </p>
        </div>
    </div>
    <div class="col-lg-5">
        <h3 class="dashboard">Recent News</h3>
        <div id="divRss"></div>
    </div>
</div>
