<div class="monitor_graph" style="position: relative;">
	<svg style="overflow: hidden; position: relative;" height="200" version="1.1" width="420" xmlns="http://www.w3.org/2000/svg">
		<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.0.1</desc>
		<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
		<text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: Arial;" x="34.5" y="157" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px">
			<tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.5">0</tspan>
		</text>
		<path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M47,157H395" stroke-width="0.5"></path>
		<text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: Arial;" x="34.5" y="124" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px">
			<tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.5">25</tspan>
		</text>
		<path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M47,124H395" stroke-width="0.5"></path>
		<text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: Arial;" x="34.5" y="91" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px">
			<tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.5">50</tspan>
		</text>
		<path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M47,91H395" stroke-width="0.5"></path>
		<text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: Arial;" x="34.5" y="58" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px">
			<tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.5">75</tspan>
		</text>
		<path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M47,58H395" stroke-width="0.5"></path>
		<text style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-size: 12px; line-height: normal; font-family: Arial;" x="34.5" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#888888" font-size="12px">
			<tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" dy="4.5">100</tspan>
		</text>
		<path style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);" fill="none" stroke="#aaaaaa" d="M47,25H395" stroke-width="0.5"></path>
	</svg>
</div>