<div role="dialog" tabindex="-1" aria-hidden="true" class="modal fade" id="error_modal">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
        		<h4 class="error-title"></h4>
        	</div>
        	<div class="modal-body">
        		<p class="error-message"></p>
        	</div>
        	<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	</div>
        </div>
    </div>
</div>