<div>
    <div id="subservice_menu" style="float:left">
        <div class="resource_app_heightify selectable_list">
            <h4 id="subservice_menu_title"></h4>
            <ul id="subservice_menu_list">
                <li>Instances</li>
                <li>Spot Requests</li>
                <li>Reserved Instances</li>
                <li>Security Groups</li>
                <li>Key Pairs</li>
                <li>Elastic IPs</li>
            </ul>
        </div>
    </div>
    <div id="menu_toggle_button" class="resource_app_heightify selectable_item">
        <a class="fg-button ui-button ui-state-default" role="button">
            <span class="ui-icon ui-icon-arrowthick-1-w"></span>
        </a>
    </div>
</div>