<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Messages Available</th>
                <th>Messages in Flight</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>
<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{QueueName}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Details</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tabs-1" class="tab-pane active">
                        <table>
                            <tbody>
                                <tr><td><b>Name:</b></td>                               <td>{{ QueueName }}</td></tr>
                                <tr><td><b>URL:</b></td>                                <td>{{ QueueUrl }}</td></tr>
                                <tr><td><b>Resource:</b></td>                           <td>{{ QueueArn }}</td></tr>
                                <tr><td><b>Date Created:</b></td>                       <td>{{ CreatedTimestamp }}</td></tr>
                                <tr><td><b>Last Updated:</b></td>                       <td>{{ LastModifiedTimestamp }}</td></tr>
                                <tr><td><b>Visibility Timeout:</b></td>                 <td>{{ VisibilityTimeout }}</td></tr>
                                <tr><td><b>Message Retention Period:</b></td>           <td>{{ MessageRetentionPeriod }}</td></tr>
                                <tr><td><b>Maximum Message Size:</b></td>               <td>{{ MaximumMessageSize }}</td></tr>
                                <tr><td><b>Messages Available (Visible):</b></td>       <td>{{ ApproximateNumberOfMessages }}</td></tr>
                                <tr><td><b>Messages in Flight (Not Visible):</b></td>   <td>{{ ApproximateNumberOfMessagesNotVisible }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>