<div>
	<p>Select an available instance below to add to you load balancer. If the instance is not from a distributed availability zone, it will be added for you.</p>
	<div>
		<p><b>Instances:</b></p>
		<table id="register_instance_table">
			<thead>
				<tr>
	                <th>Instance ID</th>
	                <th>Name</th>
	                <th>Zone</th>
	                <th>State</th>
	            </tr>
            </thead>
		</table>
		<p><b>Availability Zone Distribution:</b></p>
		<div id="zone_distribution_content"></div>
	</div>
</div>