<div>
    <table>
        <tbody>
            <tr>
                <td><b>Credential Name:</b></td>
                <td>
                    <input id="credential_name" type="text" style="width:200px;" class="required"/>
                </td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td>
                    <textarea id="credential_description" rows="3" style="width:400px;"></textarea>
                </td>
            </tr>
            <tr>
                <td><b>Access Key ID:</b></td>
                <td>
                    <input id="access_key" type="text" style="width:400px;" class="required"/>
                </td>
            </tr>
            <tr>
                <td><b>Secret Key ID:</b></td>
                <td>
                    <input id="secret_key" type="text" style="width:400px;" class="required"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>