<div>
    <table>
        <tbody>
            <tr>
                <td><b>Credential Name:</b></td>
                <td>
                    <input id="credential_name" type="text" style="width:200px;" class="required"/>
                </td>
            </tr>
            <tr>
                <td><b>Description:</b></td>
                <td>
                    <textarea id="credential_description" rows="3" style="width:400px;"></textarea>
                </td>
            </tr>
            <tr>
                <td><b>Username:</b></td>
                <td>
                    <input id="username" type="text" style="width:400px;" class="required"/>
                </td>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td>
                    <input id="password" type="text" style="width:400px;" class="required"/>
                </td>
            </tr>
            <tr>
                <td><b>Tenant Name:</b></td>
                <td>
                    <input id="tenant" type="text" style="width:400px;" class="required"/>
                </td>
            </tr>
            <tr>
                <td><b>Authentication URL:</b></td>
                <td>
                    <input id="auth_url" type="text" style="width:400px;" class="required"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>