<div>
    <div class="button_bar"></div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Threshold</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>



<script type="text/html" id="resource_detail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">Detail View: {{id}}</div>
        </div>
        <div class="panel-body">
            <div id="detail_tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tabs-1">Details</a></li>
                    <li><a data-toggle="tab" id="history_tab" href="#tabs-2">History</a></li>
                </ul>
                
            </div>
            <div class="tab-content">
                <div id="tabs-1" class="tab-pane active">
                  <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ id }}</dd>
                    <dt>Description</dt>
                    <dd>{{ alarm_description }}</dd>
                    <dt>Namespace</dt>
                    <dd>{{ namespace }}</dd>
                    <dt>Resource Name</dt>
                    <dd>{{ arn }}</dd>
                    <dt>Period</dt>
                    <dd>{{ period }}</dd>
                    <dt>Comparison Operator</dt>
                    <dd>{{ comparison_operator }}</dd>
                    <dt>Actions Enabled</dt>
                    <dd>{{ actions_enabled }}</dd>
                    <dt>Statistic</dt>
                    <dd>{{ statistic }}</dd>
                    <dt>Metric Name</dt>
                    <dd>{{ metric_name }}</dd>
                    <dt>Threshold</dt>
                    <dd>{{ threshold }}</dd>
                    <dt>State Reason</dt>
                    <dd>{{ state_reason }}</dd>
                    <dt>State Value</dt>
                    <dd>{{ state_value }}</dd>
                  </dl>
                </div>
                <div id="tabs-2" class="tab-pane">
                    <table id="alarm_history" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>History Summary</th>
                                <th>History Item Type</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>