<div id="dhcp_options_set_create">
    <div>
        <p>
            Optionally, specify any of the following. 

            Dynamic Host Configuration Protocol (DHCP) is a protocol used to retrieve IP address assignments and other 
            configuration information.     
        </p>
        <table>
            <tr>
                <td style="width:150px;"><b>domain-name</b></td>
                <td>
                    Enter the domain name that should be used for your hosts, for example, 
                    mybusiness.com.
                    <br />
                    <input id="domain_name_input" type="text" style="width:200px;"/>
                </td>
            </tr>
            <tr>
                <td style="width:150px;"><b>domain-name-servers</b></td>
                <td>
                    Enter up to 4 DNS server IP addresses, separated by commas, for example, 
                    172.16.16.16, 10.10.10.10
                    <br />
                    <input id="domain_name_servers_input" type="text" style="width:200px;"/>
                </td>
            </tr>
            <tr>
                <td style="width:150px;"><b>ntp-servers</b></td>
                <td>
                    Enter up to 4 NTP server IP addresses, separated by commas.
                    <br />
                    <input id="ntp_servers_input" type="text" style="width:200px;"/>
                </td>
            </tr>
            <tr>
                <td style="width:150px;"><b>netbios-name-servers</b></td>
                <td>
                    Enter up to 4 NetBIOS server IP addresses, separated by commas.
                    <br />
                    <input id="netbios_name_servers_input" type="text" style="width:200px;"/>
                </td>
            </tr>
            <tr>
                <td style="width:150px;"><b>netbios-node-type</b></td>
                <td>
                    Enter the NetBIOS node type, for example, 2.
                    <br />
                    <input id="netbios_node_type_input" type="text" style="width:200px;"/>
                </td>
            </tr>
        </table>
    </div>
</div>