<div id="dhcp_options_set_create">
    <div>
        <p>
            Optionally, specify any of the following. 

            Dynamic Host Configuration Protocol (DHCP) is a protocol used to retrieve IP address assignments and other 
            configuration information.     
        </p>
        <table>
            <tr>
                <td>domain-name</td>
                <td>
                    <tr>
                        <td>
                            Enter the domain name that should be used for your hosts, for example, 
                            mybusiness.com.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="domain_name_input" type="text" style="width:200px;"/>
                        </td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>domain-name-servers</td>
                <td>
                    <tr>
                        <td>
                            Enter up to 4 DNS server IP addresses, separated by commas, for example, 
                            172.16.16.16, 10.10.10.10
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="domain_name_servers_input" type="text" style="width:200px;"/>
                        </td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>ntp-servers</td>
                <td>
                    <tr>
                        <td>
                            Enter up to 4 NTP server IP addresses, separated by commas.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="ntp_servers_input" type="text" style="width:200px;"/>
                        </td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>netbios-name-servers</td>
                <td>
                    <tr>
                        <td>
                            Enter up to 4 NetBIOS server IP addresses, separated by commas.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="netbios_name_servers_input" type="text" style="width:200px;"/>
                        </td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>netbios-node-type</td>
                <td>
                    <tr>
                        <td>
                            Enter the NetBIOS node type, for example, 2.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="netbios_node_type_input" type="text" style="width:200px;"/>
                        </td>
                    </tr>
                </td>
            </tr>
        </table>
    </div>
</div>