<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create DHCP Options Set</button>
                </td>
                <td>                    
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th style="width:200px;">DHCP Options Set ID</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>ID:</b></td>         <td>{{ id }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
    
</script>