<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Route Table</button>
                </td>
                <td>                    
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Route Table ID</th>
                <th>VPC ID</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#details_tab">Details</a></li>
            <li><a href="#routes_tab">Routes</a></li>
            <li><a href="#associations_tab">Associations</a></li>
            <li><a href="#route_propagation_tab">Route Propagation</a></li>
        </ul>
        <div id="details_tab" class="tab">
            <table class="display_table">
                <tbody>
                    <tr><td><b>Route Table ID:</b></td>         <td>{{ id }}</td></tr>
                    <tr><td><b>VPC ID:</b></td>                 <td>{{ vpc_id }}</td></tr>
                    <tr><td><b>Main:</b></td>                   <td id="main_route_table_info"></td></tr>
                    <tr><td><b>Subnet Associations:</b></td>    <td id="subnet_association_info"></td></tr>
                </tbody>            
            </table>        
        </div>
        <div id="routes_tab" class="tab">
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <fieldset>
                            <legend>Routes Ingress</legend>
                            <button id="add_route_button" class="add-button">Add Route</button>
                            <button id="remove_route_button" class="remove-button">Remove Route</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-7">
                    <table id="routes_table" cellpadding="0" cellspacing="0" border="0" class="sub-route-table table table-striped table-bordered AWS">
                        <thead>
                            <tr>
                                <th>Destination</th>
                                <th>Target</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>  
        </div>
        <div id="associations_tab" class="tab">
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <fieldset>
                            <legend> Associations Ingress</legend>
                            <button id="add_association_button">Associate</button>
                            <button id="remove_association_button" class="remove-button">Disassociate</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-7">
                    <table id="associations_table" cellpadding="0" cellspacing="0" border="0" class="sub-route-table table table-striped table-bordered AWS">
                        <thead>
                            <tr>
                                <th>Association ID</th>
                                <th>Route Table ID</th>
                                <th>Subnet ID</th>
                                <th>main</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>  
        </div>
        <div id="route_propagation_tab" class="tab">
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <fieldset>
                            <legend> Route Propagation Ingress</legend>
                            <button id="add_route_propagation_button" class="add-button">Associate</button>
                            <button id="remove_route_propagation_button" class="remove-button">Disassociate</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-lg-7">
                    <table id="route_popagation_table" cellpadding="0" cellspacing="0" border="0" class="sub-route-table table table-striped table-bordered AWS">
                        <thead>
                            <tr>
                                <th>VPC ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>      
        </div>
    </div>
</script>