<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create VPC</button>
                </td>
                <td>                    
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete</a></li>
                                <li><a>Change DHCP Options Set</a></li>                
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>VPC ID</th>
                <th>State</th>
                <th>CIDR</th>
                <th>DHCP Options</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#properties_tab">Details</a></li>
        </ul>
        <div id="properties_tab" class="tab">
            <table>
                <tbody>
                    <tr><td><b>ID:</b></td>                 <td>{{ id }}</td></tr>
                    <tr><td><b>State:</b></td>              <td>{{ state }}</td></tr>
                    <tr><td><b>CIDR Block:</b></td>         <td>{{ cidr_block }}</td></tr>
                    <tr><td><b>DHCP Options ID:</b></td>    <td>{{ dhcp_options_id }}</td></tr>
                    <tr><td><b>Tenancy:</b></td>            <td>{{ tenancy }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</script>