<div class="row-fluid">

    <h2>Assemblies</h2>
    <div class="button_bar">
        <a id="create_assembly_button" class="btn btn-primary">Create</a>
        <a id="open_assembly_button" class="btn btn-primary">Open</a>
        <a id="delete_assembly_button" class="btn btn-danger">Delete</a>
    </div>
    <ul class="nav nav-tabs" id="assembliesTabs" role="tablist">
      <li><a href="#assemblyDesign" role="tab">Design</a></li>
      <li><a href="#assemblyRuntime" role="tab">Runtime</a></li>
       
    </ul>
    <div class="tab-content">
<!-- DESIGN TAB -->
      <div class="tab-pane" id="assemblyDesign" active>

    <!-- SIDE BAR -->
          <div class="span5">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="assemblyName">Name</label>
                <div class="controls">
                  <input type="text" id="assemblyName" placeholder="Assembly">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputAssembly">Cloud</label>
                <div class="controls">
                  <select id="inputCloud" placeholder="Cloud">
                    <option>OpenStack</option>
                    <option>AWS</option>
                  </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="assemblyChefSelect">Chef</label>
                <div class="controls">
                  <select id="assemblyChefSelect" placeholder="">
                    <option>Chef1</option>
                    <option>Chef2</option>
                  </select>
                </div>
                  <label class="control-label" for="assemblyPuppetSelect">Puppet</label>
                <div class="controls">
                  <select id="assemblyPuppetSelect" placeholder="">
                      <option>Puppet1</option>
                      <option>Puppet2</option>
                    </select>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputImage">Image</label>
                <div class="controls">
                  <div id="imagesTable" class="row-fluid">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Image Name</th>
                      </tr>
                    </thead>
                    <tbody id="instance-container">
                     
                    </tbody>
                  </table>
                </div>
                </div>
              </div>
            </form>
          </div>


<!--           <div class="span7">
            <h2>Puppet/Chef List</h2>
          </div> -->
      </div> 

<!-- RUNTIME TAB -->
      <div class="tab-pane" id="assemblyRuntime" >
        
      </div>
    </div>
</div>
