<div class="row-fluid">

    <div class="button_bar">
      <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-success" data-toggle="dropdown">
          Select Assembly&nbsp;<span class="caret"></span>
        </button>
        <ul id="assemblies_menu" class="dropdown-menu" role="menu"></ul>
      </div>
        <a id="create_assembly_button" class="btn btn-primary">Create Assembly</a>
        <div class="btn-group">
        <button type="button" class="btn dropdown-toggle btn-danger" data-toggle="dropdown">
          Delete Assembly&nbsp;<span class="caret"></span>
        </button>
        <ul id="assemblies_delete_menu" class="dropdown-menu" role="menu"></ul>
      </div>
    </div>
    <ul class="nav nav-tabs" id="assembliesTabs" role="tablist">
      <li><a href="#assemblyDesign" role="tab">Design</a></li>
      <li><a href="#assemblyRuntime" role="tab">Runtime</a></li>
    </ul>
    <div class="tab-content">
<!-- DESIGN TAB -->
      <div class="tab-pane" id="assemblyDesign" active>
      </div> 

<!-- RUNTIME TAB -->
      <div class="tab-pane" id="assemblyRuntime" >
        
      </div>
    </div>
</div>
