<div>
   <div class="button_bar">
       <table>
            <tr>
                <td>
                    <button class="create_button">Create Key Pair</button>
                </td>
                <td>
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete Key Pair</a></li>                   
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Fingerprint</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Name:</b></td>           <td>{{ name }}</tr>
                    <tr><td><b>Fingerprint:</b></td>    <td>{{ fingerprint }}</td></tr>
                </tbody>
            </table>
        </div>
    </div>
</script>