<div id="instance_create">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input class='autocomplete-binder medium_width' id="instance_name" type="text"/>
            </td>
        </tr>
        <tr>
            <td>Image:</td>
            <td>
                <input id="image_select" class="large_width"/>
            </td>
        </tr>
        <tr>
            <td>Machine Size:</td>
            <td>
                <select id="flavor_select" class="large_width"></select>
            </td>
        </tr>
        <tr>
            <td>Key Pair:</td>
            <td>
                <select id="key_pair_select" class="large_width"></select>
            </td>
        </tr>
        <tr>
            <td>Security Group(s):</td>
            <td>
                <select id="security_group_select" multiple="multiple" style="width:360px;"></select>
            </td>
        </tr>
        <tr>
            <td>Customization Script:</td>
            <td>
                <textarea id="customization_script" style="width:360px;"></textarea>
            </td>
        </tr>
    </table>
</div>