<div id="elastic_ip_create">
    <table>
        <tr>
            <td>EIP used in:</td>
            <td>
                <select id="eip_type_select" class="medium_width">
                    <option value="ec2">Compute</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Address Pool:</td>
            <td>
                <select id="address_pool_select" class="medium_width"></select>
            </td>
        </tr>
    </table>
</div>