<div id="key_pair_import">
<!--     <div>Choose a public key file, or copy and paste the contents of the public key into the box below.</div>
 -->    <table>
        <tr>
            <td>Name*:</td>
            <td>
                <input id="keypair_name" type="text" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>Key*:</td>
            <td>
                <textarea id="public_key" style="width:200px;"/>
            </td>
        </tr>
        <tr>
            <td>File:</td>
            <td>
                <input id="keypair_file" type="file" style="width:200px;"/>
            </td>
        </tr>
    </table>
</div>