<nav>
    <ul class="main">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/resources">Cloud Management</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/settings">Users and Groups</a></li>
    </ul>
    <ul class="account">
        <% if !authenticated? %>
            <li><a href="/account/login">Login</a></li>
        <% else %>
            <li><a href="#"><%=warden.user.login%></a></li>
            <li><a href="/account/logout">Logout</a></li>
        <% end %>
    </ul>
</nav>
