<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create</button>
                </td>
                <td>
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Update catalog</a></li>
                                <li><a>Delete catalog</a></li>             
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th class="medium_width">Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a id="catalog_details" href="#tabs-1">Details</a></li>
            <li><a id="catalog_items" href="#tabs-2">vApp Templates</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <b>Name:</b>
                        </td>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Description:</b>
                        </td>
                        <td>{{description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="tabs-2" class="tab">
            <table cat-id="{{id}}">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#items}}
                    <tr item-id="{{id}}">
                        <td>{{name}}</td>
                        <td><button id="instantiate_vapp">Create vApp</button></td>
                    </tr>
                    {{/items}}
                </tbody>
            </table>
        </div>
    </div>
</script>