<div>
    <div class="button_bar">
        <table>
            <tr>
                <td>
                    <button class="create_button">Create Firewall</button>
                </td>
                <td>
                    <ul id="action_menu">
                        <li style="z-index: 1000">
                            <a id="action_button">Actions</a>
                            <ul>
                                <li><a>Delete</a></li>                
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <table id="resource_table" class="full_width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Firewall ID</th>
                <th>Description</th>
                <th>Creation Time</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <div id="details" class="detail_panel"></div>
</div>

<script type="text/html" id="resource_detail">
    <div id="detail_tabs">
        <ul>
            <li><a id="instance_details" href="#tabs-1">Details</a></li>
        </ul>
        <div id="tabs-1" class="tab">
            <table>
                <tbody>
                    <tr><td><b>Name:</b></td><td>{{ name }}</td></tr>
                    <tr><td><b>Firewall ID:</b></td><td>{{ id }}</td></tr>
                    <tr><td><b>Description:</b></td><td>{{ description }}</td></tr>
                    <tr><td><b>Network:</b></td><td>{{ network }}</td></tr>
                    <tr><td><b>Self Link:</b></td><td>{{ selfLink }}</td></tr>
                    <tr><td><b>Timestamp:</b></td><td>{{ creationTimestamp }}</td></tr>
                    {{#sourceRanges}}
                    <tr><td><b>Source Range:</b></td><td>{{ . }}</td></tr>
                    {{/sourceRanges}}
                </tbody>
            </table>
        </div>
    </div>
    
</script>