<div id="google_disk_create">
    <table>
        <tr>
            <td>Name*:</td>
            <td>
                <input id="sg_name" type="text" style="width:200px;"/>&nbsp;(lowercase)
            </td>
        </tr>
        <tr>
            <td>Size (GB):</td>
            <td>
                <input id="size_input" type="text" style="width:200px;"/>&nbsp;(10-20)GB
            </td>
        </tr>
        <tr>
            <td>Availability Zone:</td>
            <td>
                <select id="zone_select" style="width:200px;">
                </select>
            </td>
        </tr>
        <!---->
        <tr>
            <td>Image:</td>
            <td>
                <select id="image_select" style="width:200px;">
                    <option value="debian-6-squeeze-v20130507">debian-6-squeeze-v20130507</option>
                    <option value="centos-6-v20130325">centos-6-v20130325</option>
                </select>
            </td>
        </tr>
    </table>
</div>