<legend>&nbsp;&nbsp;<%= title %></legend>
<div class="well">
<% _.each(required, function(key,field){ %>
       <div class="control-group">
           <label class="control-label"><%= field.split('_').join(' ').replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}) %></label>
           <div class="controls">
               <% if (key.type === "bool" || key.type === "boolean") { %>
                   <input type="checkbox" id="<%= field %>" name="<%= field %>" title="<%= key.description %>" data-type="<%= key.type %>">
               <% }else if (key.type.indexOf("max") != -1) { %>
                   <input id="<%= field %>" name="<%= field %>" type="text" placeholder="<%= field %>" class="input-xlarge" title="<%= key.description %>" data-type="<%= key.type %>">
                   <input id="<%= field.replace('min','max') %>" name="<%= field.replace('min','max') %>" type="text" placeholder="<%= field.replace('min','max') %>" class="input-xlarge" title="<%= key.description %>" data-type="<%= key.type %>">
               <% }else{ %>
                   <input id="<%= field %>" name="<%= field %>" type="text" placeholder="<%= key.type %>" class="input-xlarge" title="<%= key.description %>" data-type="<%= key.type %>">
               <% } %>
           </div>
       </div>
<% }); %>
</div>

<legend>&nbsp;&nbsp;Optional</legend>
<div class="well">
<% _.each(optional, function(key,field){ %>
       <div class="control-group">
           <label class="control-label"><%= field.split('_').join(' ').replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}) %></label>
           <div class="controls">
               <% if (key.type === "bool" || key.type === "boolean") { %>
                   <input type="checkbox" id="<%= field %>" name="<%= field %>" title="<%= key.description %>" data-type="<%= key.type %>">
               <% }else if (key.type.indexOf("max") != -1) { %>
                   <input id="<%= field %>" name="<%= field %>" type="text" placeholder="<%= field %>" class="input-xlarge" title="<%= key.description %>" data-type="<%= key.type %>">
                   <input id="<%= field.replace('min','max') %>" name="<%= field.replace('min','max') %>" type="text" placeholder="<%= field.replace('min','max') %>" class="input-xlarge" title="<%= key.description %>" data-type="<%= key.type %>">
               <% }else{ %>
                   <input id="<%= field %>" name="<%= field %>" type="text" placeholder="<%= key.type %>" class="input-xlarge" title="<%= key.description %>" data-type="<%= key.type %>">
               <% } %>
           </div>
       </div>
<% }); %>
</div>